In [4]:
import pandas as pd
import mysql.connector as cn
mydb=cn.connect(host='localhost',user='root',passwd='snzk@#1329')
cursor=mydb.cursor()
#cursor.execute('show databases')
cursor.execute('use dress_data')
cursor.execute('show tables')
#cursor.execute('select * from dress1')
cursor.fetchall()
#mydb.commit()

[('dress',),
 ('dress1',),
 ('employee_details',),
 ('employee_details1',),
 ('khan',),
 ('test2',),
 ('test3',),
 ('test4',),
 ('test65',),
 ('test66',),
 ('test67',)]

In [10]:
df=pd.read_sql('select * from employee_details',mydb)
column_name=df.columns
k=[[df.loc[i,col] for col in df.columns] for i in range(len(df))]

C:\Users\91986\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

In [11]:
k

[[25, 'dkjf', 'dkjfk', 'kdjf', 'kjfkd', 255],
 [25, 'First_name', 'Last_name', 'Email_id', 'department', 2566],
 [25, 'ambani', 'Mukish', 'zeeshan@ineuron.ai', 'DataScience', 200],
 [35, 'Zeeshan', 'khan', 'zeeshankhan@gmail.com', 'civil', 2566]]

In [12]:
pd.read_sql('select * from dress_data.dress1',mydb)

C:\Users\91986\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,Dress_ID,New_dress_id,Style,Price,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,null,chiffon,ruffles,animal
1,1212192089,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,null,ruffles,animal
2,1190380701,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,null,null,print
3,966005983,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print
4,876339541,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,null,null,solid
496,722565148,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,null,null,null
497,532874347,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,null,lace,solid
498,655464934,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print
499,919930954,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid

In [13]:
pd.read_sql('select * from dress_data.dress1',mydb)

C:\Users\91986\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

,Dress_ID,New_dress_id,Style,Price,Size,Season,NeckLine,SleeveLength,waiseline,Material,FabricType,Decoration,Pattern Type,Recommendation
0,1006032852,1006032852,Sexy,Low,4.6,M,Summer,o-neck,sleevless,empire,null,chiffon,ruffles,animal
1,1212192089,1212192089,Casual,Low,0,L,Summer,o-neck,Petal,natural,microfiber,null,ruffles,animal
2,1190380701,1190380701,vintage,High,0,L,Automn,o-neck,full,natural,polyster,null,null,print
3,966005983,966005983,Brief,Average,4.6,L,Spring,o-neck,full,natural,silk,chiffon,embroidary,print
4,876339541,876339541,cute,Low,4.5,M,Summer,o-neck,butterfly,natural,chiffonfabric,chiffon,bow,dot
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,713391965,713391965,Casual,Low,4.7,M,Spring,o-neck,full,natural,polyster,null,null,solid
496,722565148,722565148,Sexy,Low,4.3,free,Summer,o-neck,full,empire,cotton,null,null,null
497,532874347,532874347,Casual,Average,4.7,M,Summer,v-neck,full,empire,cotton,null,lace,solid
498,655464934,655464934,Casual,Average,4.6,L,winter,boat-neck,sleevless,empire,silk,broadcloth,applique,print
499,919930954,919930954,Casual,Low,4.4,free,Summer,v-neck,short,empire,cotton,Corduroy,lace,solid

In [14]:
pd.read_sql('show databases',mydb)

C:\Users\91986\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

              Database
0           dress_data
1              ineuron
2   information_schema
3                mysql
4         new_database
5   performance_schema
6               sakila
7              student
8                  sys
9             trigger1
10               world

In [4]:
mydb=cn.connect(host='localhost',user='root',passwd='snzk@#1329')
cursor=mydb.cursor()
cursor.execute('use ineuron')
# cursor.execute('create table Youtube(Product_Description varchar(3000),Product_Price varchar(50),Average_Rating varchar(50),Customer_Comment varchar(2000),Customer_Rating varchar(50),Customer_Full_Comment varchar(7000),Customer_Location varchar(2000),Customer_Name varchar(2000))')
# mydb.commit()
# cursor.execute('insert into Youtube values (%s,%s,%s,%s,%s,%s,%s,%s)',(Product_description,Product_price,Average_rating,str(Customer_comment),str(Customer_rating),str(Customer_full_comment),str(Customer_location),str(Customer_name),))
# mydb.commit()
cursor.execute('show tables')
cursor.fetchall()

[('bank_details',)]

In [5]:
import pandas as pd

In [6]:
pd.read_sql('show databases',mydb)

C:\Users\91986\anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy

              Database
0           dress_data
1     flipkart_website
2              ineuron
3         ineuron_fsda
4   information_schema
5           mydatabase
6        mynewdatabase
7                mysql
8         new_database
9   performance_schema
10              sakila
11             student
12                 sys
13            trigger1
14               world

In [1]:
import csvkit
import MySQLdb
!pip install psycopg2
!pip install mysql-connector-python

Requirement already satisfied: psycopg2 in c:\users\91986\anaconda3\lib\site-packages (2.9.3)

WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
sys:1: ResourceWarning: unclosed socket <zmq.Socket(zmq.PUSH) at 0x24586eeb220>
sys:1: ResourceWarning: unclosed socket <zmq.Socket(zmq.PUSH) at 0x24586eeb220>
C:\Users\91986\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\91986\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\91986\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=6>

Requirement already satisfied: mysql-connector-python in c:\users\91986\appdata\roaming\python\python39\site-packages (8.0.29)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\91986\anaconda3\lib\site-packages (from mysql-connector-python) (4.21.5)

WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
sys:1: ResourceWarning: unclosed socket <zmq.Socket(zmq.PUSH) at 0x24586eeb220>
sys:1: ResourceWarning: unclosed socket <zmq.Socket(zmq.PUSH) at 0x24586eeb220>
C:\Users\91986\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\91986\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\91986\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [7]:
!csvsql --db mysql://root:'snzk@1329'@localhost/MyNewdatabase --insert AttributeDataSet.csv

OperationalError: (MySQLdb.OperationalError) (2005, "Unknown server host '1329'@localhost' (11003)")
(Background on this error at: https://sqlalche.me/e/14/e3q8)
sys:1: ResourceWarning: unclosed socket <zmq.Socket(zmq.PUSH) at 0x24589232820>
C:\Users\91986\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedWriter name=4>
C:\Users\91986\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=5>
C:\Users\91986\anaconda3\lib\site-packages\IPython\utils\_process_win32.py:124: ResourceWarning: unclosed file <_io.BufferedReader name=6>

In [1]:
import seaborn as sn

In [11]:
df=sn.load_dataset('iris')

In [30]:
#to insert the dataframe in Mysql workbench

try:
    mydb=cn.connect(host='localhost',user='root',passwd='snzk@#1329')
    cursor=mydb.cursor()
    cursor.execute('create database test2000')
    cursor.execute('use test2000')
    cursor.execute('create table test(sepal_length varchar(1000), sepal_width varchar(1000), petal_length varchar(1000), petal_width varchar(1000),species varchar(1000))')
    mydb.commit()
except:
    mydb=cn.connect(host='localhost',user='root',passwd='snzk@#1329')
    cursor=mydb.cursor()
    cursor.execute('use test2000')
    for i,row in df.iterrows():
        cursor.execute('insert into test values (%s,%s,%s,%s,%s)',tuple(row))
    mydb.commit()