In [1]:
import pandas as pd

In [2]:
p={ "firstName": "Joe",
   "lastName": "Jackson",
   "gender": "male",
   "age": 28,
   "address": [
       "streetAddress", "101",
       "city", "San Diego",
       "state",'dd'
       ],
   "phoneNumbers": [
     "type", "home", "number","7349282382" ,'87','96'
   ]
}

In [3]:
p

{'firstName': 'Joe',
 'lastName': 'Jackson',
 'gender': 'male',
 'age': 28,
 'address': ['streetAddress', '101', 'city', 'San Diego', 'state', 'dd'],
 'phoneNumbers': ['type', 'home', 'number', '7349282382', '87', '96']}

In [4]:
type(p)

dict

In [5]:
df=pd.DataFrame(p)

In [6]:
df

  firstName lastName gender  age        address phoneNumbers
0       Joe  Jackson   male   28  streetAddress         type
1       Joe  Jackson   male   28            101         home
2       Joe  Jackson   male   28           city       number
3       Joe  Jackson   male   28      San Diego   7349282382
4       Joe  Jackson   male   28          state           87
5       Joe  Jackson   male   28             dd           96

In [7]:
o="""{ "firstName": "Joe",
   "lastName": "Jackson",
   "gender": "male",
   "age": "28",
   "address": [
       "streetAddress", "101",
       "city", "San Diego",
       "state","dd"
       ],
   "phoneNumbers": [
     "type", "home", "number","7349282382" ,"87","96"
   ]
}"""

In [8]:
o

'{ "firstName": "Joe",\n   "lastName": "Jackson",\n   "gender": "male",\n   "age": "28",\n   "address": [\n       "streetAddress", "101",\n       "city", "San Diego",\n       "state","dd"\n       ],\n   "phoneNumbers": [\n     "type", "home", "number","7349282382" ,"87","96"\n   ]\n}'

In [9]:
type(o)

str

In [21]:
o

'{ "firstName": "Joe",\n   "lastName": "Jackson",\n   "gender": "male",\n   "age": "28",\n   "address": [\n       "streetAddress", "101",\n       "city", "San Diego",\n       "state","dd"\n       ],\n   "phoneNumbers": [\n     "type", "home", "number","7349282382" ,"87","96"\n   ]\n}'

In [22]:
type(o)

str

In [27]:
json.loads(o)

{'key': 256}

In [26]:
o='''{
    
    "key":256
}'''

In [28]:
o='{"sepal_length":{"0":5.1,"1":4.9,"2":4.7,"3":4.6,"4":5.0,"5":5.4,"6":4.6,"7":5.0,"8":4.4,"9":4.9,"10":5.4,"11":4.8,"12":4.8,"13":4.3,"14":5.8,"15":5.7,"16":5.4,"17":5.1,"18":5.7,"19":5.1,"20":5.4,"21":5.1,"22":4.6,"23":5.1,"24":4.8,"25":5.0,"26":5.0,"27":5.2,"28":5.2,"29":4.7,"30":4.8,"31":5.4,"32":5.2,"33":5.5,"34":4.9,"35":5.0,"36":5.5,"37":4.9,"38":4.4,"39":5.1,"40":5.0,"41":4.5,"42":4.4,"43":5.0,"44":5.1,"45":4.8,"46":5.1,"47":4.6,"48":5.3,"49":5.0,"50":7.0,"51":6.4,"52":6.9,"53":5.5,"54":6.5,"55":5.7,"56":6.3,"57":4.9,"58":6.6,"59":5.2,"60":5.0,"61":5.9,"62":6.0,"63":6.1,"64":5.6,"65":6.7,"66":5.6,"67":5.8,"68":6.2,"69":5.6,"70":5.9,"71":6.1,"72":6.3,"73":6.1,"74":6.4,"75":6.6,"76":6.8,"77":6.7,"78":6.0,"79":5.7,"80":5.5,"81":5.5,"82":5.8,"83":6.0,"84":5.4,"85":6.0,"86":6.7,"87":6.3,"88":5.6,"89":5.5,"90":5.5,"91":6.1,"92":5.8,"93":5.0,"94":5.6,"95":5.7,"96":5.7,"97":6.2,"98":5.1,"99":5.7,"100":6.3,"101":5.8,"102":7.1,"103":6.3,"104":6.5,"105":7.6,"106":4.9,"107":7.3,"108":6.7,"109":7.2,"110":6.5,"111":6.4,"112":6.8,"113":5.7,"114":5.8,"115":6.4,"116":6.5,"117":7.7,"118":7.7,"119":6.0,"120":6.9,"121":5.6,"122":7.7,"123":6.3,"124":6.7,"125":7.2,"126":6.2,"127":6.1,"128":6.4,"129":7.2,"130":7.4,"131":7.9,"132":6.4,"133":6.3,"134":6.1,"135":7.7,"136":6.3,"137":6.4,"138":6.0,"139":6.9,"140":6.7,"141":6.9,"142":5.8,"143":6.8,"144":6.7,"145":6.7,"146":6.3,"147":6.5,"148":6.2,"149":5.9},"sepal_width":{"0":3.5,"1":3.0,"2":3.2,"3":3.1,"4":3.6,"5":3.9,"6":3.4,"7":3.4,"8":2.9,"9":3.1,"10":3.7,"11":3.4,"12":3.0,"13":3.0,"14":4.0,"15":4.4,"16":3.9,"17":3.5,"18":3.8,"19":3.8,"20":3.4,"21":3.7,"22":3.6,"23":3.3,"24":3.4,"25":3.0,"26":3.4,"27":3.5,"28":3.4,"29":3.2,"30":3.1,"31":3.4,"32":4.1,"33":4.2,"34":3.1,"35":3.2,"36":3.5,"37":3.6,"38":3.0,"39":3.4,"40":3.5,"41":2.3,"42":3.2,"43":3.5,"44":3.8,"45":3.0,"46":3.8,"47":3.2,"48":3.7,"49":3.3,"50":3.2,"51":3.2,"52":3.1,"53":2.3,"54":2.8,"55":2.8,"56":3.3,"57":2.4,"58":2.9,"59":2.7,"60":2.0,"61":3.0,"62":2.2,"63":2.9,"64":2.9,"65":3.1,"66":3.0,"67":2.7,"68":2.2,"69":2.5,"70":3.2,"71":2.8,"72":2.5,"73":2.8,"74":2.9,"75":3.0,"76":2.8,"77":3.0,"78":2.9,"79":2.6,"80":2.4,"81":2.4,"82":2.7,"83":2.7,"84":3.0,"85":3.4,"86":3.1,"87":2.3,"88":3.0,"89":2.5,"90":2.6,"91":3.0,"92":2.6,"93":2.3,"94":2.7,"95":3.0,"96":2.9,"97":2.9,"98":2.5,"99":2.8,"100":3.3,"101":2.7,"102":3.0,"103":2.9,"104":3.0,"105":3.0,"106":2.5,"107":2.9,"108":2.5,"109":3.6,"110":3.2,"111":2.7,"112":3.0,"113":2.5,"114":2.8,"115":3.2,"116":3.0,"117":3.8,"118":2.6,"119":2.2,"120":3.2,"121":2.8,"122":2.8,"123":2.7,"124":3.3,"125":3.2,"126":2.8,"127":3.0,"128":2.8,"129":3.0,"130":2.8,"131":3.8,"132":2.8,"133":2.8,"134":2.6,"135":3.0,"136":3.4,"137":3.1,"138":3.0,"139":3.1,"140":3.1,"141":3.1,"142":2.7,"143":3.2,"144":3.3,"145":3.0,"146":2.5,"147":3.0,"148":3.4,"149":3.0},"petal_length":{"0":1.4,"1":1.4,"2":1.3,"3":1.5,"4":1.4,"5":1.7,"6":1.4,"7":1.5,"8":1.4,"9":1.5,"10":1.5,"11":1.6,"12":1.4,"13":1.1,"14":1.2,"15":1.5,"16":1.3,"17":1.4,"18":1.7,"19":1.5,"20":1.7,"21":1.5,"22":1.0,"23":1.7,"24":1.9,"25":1.6,"26":1.6,"27":1.5,"28":1.4,"29":1.6,"30":1.6,"31":1.5,"32":1.5,"33":1.4,"34":1.5,"35":1.2,"36":1.3,"37":1.4,"38":1.3,"39":1.5,"40":1.3,"41":1.3,"42":1.3,"43":1.6,"44":1.9,"45":1.4,"46":1.6,"47":1.4,"48":1.5,"49":1.4,"50":4.7,"51":4.5,"52":4.9,"53":4.0,"54":4.6,"55":4.5,"56":4.7,"57":3.3,"58":4.6,"59":3.9,"60":3.5,"61":4.2,"62":4.0,"63":4.7,"64":3.6,"65":4.4,"66":4.5,"67":4.1,"68":4.5,"69":3.9,"70":4.8,"71":4.0,"72":4.9,"73":4.7,"74":4.3,"75":4.4,"76":4.8,"77":5.0,"78":4.5,"79":3.5,"80":3.8,"81":3.7,"82":3.9,"83":5.1,"84":4.5,"85":4.5,"86":4.7,"87":4.4,"88":4.1,"89":4.0,"90":4.4,"91":4.6,"92":4.0,"93":3.3,"94":4.2,"95":4.2,"96":4.2,"97":4.3,"98":3.0,"99":4.1,"100":6.0,"101":5.1,"102":5.9,"103":5.6,"104":5.8,"105":6.6,"106":4.5,"107":6.3,"108":5.8,"109":6.1,"110":5.1,"111":5.3,"112":5.5,"113":5.0,"114":5.1,"115":5.3,"116":5.5,"117":6.7,"118":6.9,"119":5.0,"120":5.7,"121":4.9,"122":6.7,"123":4.9,"124":5.7,"125":6.0,"126":4.8,"127":4.9,"128":5.6,"129":5.8,"130":6.1,"131":6.4,"132":5.6,"133":5.1,"134":5.6,"135":6.1,"136":5.6,"137":5.5,"138":4.8,"139":5.4,"140":5.6,"141":5.1,"142":5.1,"143":5.9,"144":5.7,"145":5.2,"146":5.0,"147":5.2,"148":5.4,"149":5.1},"petal_width":{"0":0.2,"1":0.2,"2":0.2,"3":0.2,"4":0.2,"5":0.4,"6":0.3,"7":0.2,"8":0.2,"9":0.1,"10":0.2,"11":0.2,"12":0.1,"13":0.1,"14":0.2,"15":0.4,"16":0.4,"17":0.3,"18":0.3,"19":0.3,"20":0.2,"21":0.4,"22":0.2,"23":0.5,"24":0.2,"25":0.2,"26":0.4,"27":0.2,"28":0.2,"29":0.2,"30":0.2,"31":0.4,"32":0.1,"33":0.2,"34":0.2,"35":0.2,"36":0.2,"37":0.1,"38":0.2,"39":0.2,"40":0.3,"41":0.3,"42":0.2,"43":0.6,"44":0.4,"45":0.3,"46":0.2,"47":0.2,"48":0.2,"49":0.2,"50":1.4,"51":1.5,"52":1.5,"53":1.3,"54":1.5,"55":1.3,"56":1.6,"57":1.0,"58":1.3,"59":1.4,"60":1.0,"61":1.5,"62":1.0,"63":1.4,"64":1.3,"65":1.4,"66":1.5,"67":1.0,"68":1.5,"69":1.1,"70":1.8,"71":1.3,"72":1.5,"73":1.2,"74":1.3,"75":1.4,"76":1.4,"77":1.7,"78":1.5,"79":1.0,"80":1.1,"81":1.0,"82":1.2,"83":1.6,"84":1.5,"85":1.6,"86":1.5,"87":1.3,"88":1.3,"89":1.3,"90":1.2,"91":1.4,"92":1.2,"93":1.0,"94":1.3,"95":1.2,"96":1.3,"97":1.3,"98":1.1,"99":1.3,"100":2.5,"101":1.9,"102":2.1,"103":1.8,"104":2.2,"105":2.1,"106":1.7,"107":1.8,"108":1.8,"109":2.5,"110":2.0,"111":1.9,"112":2.1,"113":2.0,"114":2.4,"115":2.3,"116":1.8,"117":2.2,"118":2.3,"119":1.5,"120":2.3,"121":2.0,"122":2.0,"123":1.8,"124":2.1,"125":1.8,"126":1.8,"127":1.8,"128":2.1,"129":1.6,"130":1.9,"131":2.0,"132":2.2,"133":1.5,"134":1.4,"135":2.3,"136":2.4,"137":1.8,"138":1.8,"139":2.1,"140":2.4,"141":2.3,"142":1.9,"143":2.3,"144":2.5,"145":2.3,"146":1.9,"147":2.0,"148":2.3,"149":1.8},"species":{"0":"setosa","1":"setosa","2":"setosa","3":"setosa","4":"setosa","5":"setosa","6":"setosa","7":"setosa","8":"setosa","9":"setosa","10":"setosa","11":"setosa","12":"setosa","13":"setosa","14":"setosa","15":"setosa","16":"setosa","17":"setosa","18":"setosa","19":"setosa","20":"setosa","21":"setosa","22":"setosa","23":"setosa","24":"setosa","25":"setosa","26":"setosa","27":"setosa","28":"setosa","29":"setosa","30":"setosa","31":"setosa","32":"setosa","33":"setosa","34":"setosa","35":"setosa","36":"setosa","37":"setosa","38":"setosa","39":"setosa","40":"setosa","41":"setosa","42":"setosa","43":"setosa","44":"setosa","45":"setosa","46":"setosa","47":"setosa","48":"setosa","49":"setosa","50":"versicolor","51":"versicolor","52":"versicolor","53":"versicolor","54":"versicolor","55":"versicolor","56":"versicolor","57":"versicolor","58":"versicolor","59":"versicolor","60":"versicolor","61":"versicolor","62":"versicolor","63":"versicolor","64":"versicolor","65":"versicolor","66":"versicolor","67":"versicolor","68":"versicolor","69":"versicolor","70":"versicolor","71":"versicolor","72":"versicolor","73":"versicolor","74":"versicolor","75":"versicolor","76":"versicolor","77":"versicolor","78":"versicolor","79":"versicolor","80":"versicolor","81":"versicolor","82":"versicolor","83":"versicolor","84":"versicolor","85":"versicolor","86":"versicolor","87":"versicolor","88":"versicolor","89":"versicolor","90":"versicolor","91":"versicolor","92":"versicolor","93":"versicolor","94":"versicolor","95":"versicolor","96":"versicolor","97":"versicolor","98":"versicolor","99":"versicolor","100":"virginica","101":"virginica","102":"virginica","103":"virginica","104":"virginica","105":"virginica","106":"virginica","107":"virginica","108":"virginica","109":"virginica","110":"virginica","111":"virginica","112":"virginica","113":"virginica","114":"virginica","115":"virginica","116":"virginica","117":"virginica","118":"virginica","119":"virginica","120":"virginica","121":"virginica","122":"virginica","123":"virginica","124":"virginica","125":"virginica","126":"virginica","127":"virginica","128":"virginica","129":"virginica","130":"virginica","131":"virginica","132":"virginica","133":"virginica","134":"virginica","135":"virginica","136":"virginica","137":"virginica","138":"virginica","139":"virginica","140":"virginica","141":"virginica","142":"virginica","143":"virginica","144":"virginica","145":"virginica","146":"virginica","147":"virginica","148":"virginica","149":"virginica"}}'

In [29]:
o

'{"sepal_length":{"0":5.1,"1":4.9,"2":4.7,"3":4.6,"4":5.0,"5":5.4,"6":4.6,"7":5.0,"8":4.4,"9":4.9,"10":5.4,"11":4.8,"12":4.8,"13":4.3,"14":5.8,"15":5.7,"16":5.4,"17":5.1,"18":5.7,"19":5.1,"20":5.4,"21":5.1,"22":4.6,"23":5.1,"24":4.8,"25":5.0,"26":5.0,"27":5.2,"28":5.2,"29":4.7,"30":4.8,"31":5.4,"32":5.2,"33":5.5,"34":4.9,"35":5.0,"36":5.5,"37":4.9,"38":4.4,"39":5.1,"40":5.0,"41":4.5,"42":4.4,"43":5.0,"44":5.1,"45":4.8,"46":5.1,"47":4.6,"48":5.3,"49":5.0,"50":7.0,"51":6.4,"52":6.9,"53":5.5,"54":6.5,"55":5.7,"56":6.3,"57":4.9,"58":6.6,"59":5.2,"60":5.0,"61":5.9,"62":6.0,"63":6.1,"64":5.6,"65":6.7,"66":5.6,"67":5.8,"68":6.2,"69":5.6,"70":5.9,"71":6.1,"72":6.3,"73":6.1,"74":6.4,"75":6.6,"76":6.8,"77":6.7,"78":6.0,"79":5.7,"80":5.5,"81":5.5,"82":5.8,"83":6.0,"84":5.4,"85":6.0,"86":6.7,"87":6.3,"88":5.6,"89":5.5,"90":5.5,"91":6.1,"92":5.8,"93":5.0,"94":5.6,"95":5.7,"96":5.7,"97":6.2,"98":5.1,"99":5.7,"100":6.3,"101":5.8,"102":7.1,"103":6.3,"104":6.5,"105":7.6,"106":4.9,"107":7.3,"108":6.7,"109":7.2,"110":6.5,"111":6.4,"112":6.8,"113":5.7,"114":5.8,"115":6.4,"116":6.5,"117":7.7,"118":7.7,"119":6.0,"120":6.9,"121":5.6,"122":7.7,"123":6.3,"124":6.7,"125":7.2,"126":6.2,"127":6.1,"128":6.4,"129":7.2,"130":7.4,"131":7.9,"132":6.4,"133":6.3,"134":6.1,"135":7.7,"136":6.3,"137":6.4,"138":6.0,"139":6.9,"140":6.7,"141":6.9,"142":5.8,"143":6.8,"144":6.7,"145":6.7,"146":6.3,"147":6.5,"148":6.2,"149":5.9},"sepal_width":{"0":3.5,"1":3.0,"2":3.2,"3":3.1,"4":3.6,"5":3.9,"6":3.4,"7":3.4,"8":2.9,"9":3.1,"10":3.7,"11":3.4,"12":3.0,"13":3.0,"14":4.0,"15":4.4,"16":3.9,"17":3.5,"18":3.8,"19":3.8,"20":3.4,"21":3.7,"22":3.6,"23":3.3,"24":3.4,"25":3.0,"26":3.4,"27":3.5,"28":3.4,"29":3.2,"30":3.1,"31":3.4,"32":4.1,"33":4.2,"34":3.1,"35":3.2,"36":3.5,"37":3.6,"38":3.0,"39":3.4,"40":3.5,"41":2.3,"42":3.2,"43":3.5,"44":3.8,"45":3.0,"46":3.8,"47":3.2,"48":3.7,"49":3.3,"50":3.2,"51":3.2,"52":3.1,"53":2.3,"54":2.8,"55":2.8,"56":3.3,"57":2.4,"58":2.9,"59":2.7,"60":2.0,"61":3.0,"62":2.2,"63":2.9,"64":2.9,"65":3.1,"66":3.0,"67":2.7,"68":2.2,"69":2.5,"70":3.2,"71":2.8,"72":2.5,"73":2.8,"74":2.9,"75":3.0,"76":2.8,"77":3.0,"78":2.9,"79":2.6,"80":2.4,"81":2.4,"82":2.7,"83":2.7,"84":3.0,"85":3.4,"86":3.1,"87":2.3,"88":3.0,"89":2.5,"90":2.6,"91":3.0,"92":2.6,"93":2.3,"94":2.7,"95":3.0,"96":2.9,"97":2.9,"98":2.5,"99":2.8,"100":3.3,"101":2.7,"102":3.0,"103":2.9,"104":3.0,"105":3.0,"106":2.5,"107":2.9,"108":2.5,"109":3.6,"110":3.2,"111":2.7,"112":3.0,"113":2.5,"114":2.8,"115":3.2,"116":3.0,"117":3.8,"118":2.6,"119":2.2,"120":3.2,"121":2.8,"122":2.8,"123":2.7,"124":3.3,"125":3.2,"126":2.8,"127":3.0,"128":2.8,"129":3.0,"130":2.8,"131":3.8,"132":2.8,"133":2.8,"134":2.6,"135":3.0,"136":3.4,"137":3.1,"138":3.0,"139":3.1,"140":3.1,"141":3.1,"142":2.7,"143":3.2,"144":3.3,"145":3.0,"146":2.5,"147":3.0,"148":3.4,"149":3.0},"petal_length":{"0":1.4,"1":1.4,"2":1.3,"3":1.5,"4":1.4,"5":1.7,"6":1.4,"7":1.5,"8":1.4,"9":1.5,"10":1.5,"11":1.6,"12":1.4,"13":1.1,"14":1.2,"15":1.5,"16":1.3,"17":1.4,"18":1.7,"19":1.5,"20":1.7,"21":1.5,"22":1.0,"23":1.7,"24":1.9,"25":1.6,"26":1.6,"27":1.5,"28":1.4,"29":1.6,"30":1.6,"31":1.5,"32":1.5,"33":1.4,"34":1.5,"35":1.2,"36":1.3,"37":1.4,"38":1.3,"39":1.5,"40":1.3,"41":1.3,"42":1.3,"43":1.6,"44":1.9,"45":1.4,"46":1.6,"47":1.4,"48":1.5,"49":1.4,"50":4.7,"51":4.5,"52":4.9,"53":4.0,"54":4.6,"55":4.5,"56":4.7,"57":3.3,"58":4.6,"59":3.9,"60":3.5,"61":4.2,"62":4.0,"63":4.7,"64":3.6,"65":4.4,"66":4.5,"67":4.1,"68":4.5,"69":3.9,"70":4.8,"71":4.0,"72":4.9,"73":4.7,"74":4.3,"75":4.4,"76":4.8,"77":5.0,"78":4.5,"79":3.5,"80":3.8,"81":3.7,"82":3.9,"83":5.1,"84":4.5,"85":4.5,"86":4.7,"87":4.4,"88":4.1,"89":4.0,"90":4.4,"91":4.6,"92":4.0,"93":3.3,"94":4.2,"95":4.2,"96":4.2,"97":4.3,"98":3.0,"99":4.1,"100":6.0,"101":5.1,"102":5.9,"103":5.6,"104":5.8,"105":6.6,"106":4.5,"107":6.3,"108":5.8,"109":6.1,"110":5.1,"111":5.3,"112":5.5,"113":5.0,"114":5.1,"115":5.3,"116":5.5,"117":6.7,"118":6.9,"119":5.0,"120":5.7,"121":4.9,"122":6.7,"123":4.9,"124":5.7,"125":6.0,"126":4.8,"127":4.9,"128":5.6,"129":5.8,"130":6.1,"131":6.4,"132":5.6,"133":5.1,"134":5.6,"135":6.1,"136":5.6,"137":5.5,"138":4.8,"139":5.4,"140":5.6,"141":5.1,"142":5.1,"143":5.9,"144":5.7,"145":5.2,"146":5.0,"147":5.2,"148":5.4,"149":5.1},"petal_width":{"0":0.2,"1":0.2,"2":0.2,"3":0.2,"4":0.2,"5":0.4,"6":0.3,"7":0.2,"8":0.2,"9":0.1,"10":0.2,"11":0.2,"12":0.1,"13":0.1,"14":0.2,"15":0.4,"16":0.4,"17":0.3,"18":0.3,"19":0.3,"20":0.2,"21":0.4,"22":0.2,"23":0.5,"24":0.2,"25":0.2,"26":0.4,"27":0.2,"28":0.2,"29":0.2,"30":0.2,"31":0.4,"32":0.1,"33":0.2,"34":0.2,"35":0.2,"36":0.2,"37":0.1,"38":0.2,"39":0.2,"40":0.3,"41":0.3,"42":0.2,"43":0.6,"44":0.4,"45":0.3,"46":0.2,"47":0.2,"48":0.2,"49":0.2,"50":1.4,"51":1.5,"52":1.5,"53":1.3,"54":1.5,"55":1.3,"56":1.6,"57":1.0,"58":1.3,"59":1.4,"60":1.0,"61":1.5,"62":1.0,"63":1.4,"64":1.3,"65":1.4,"66":1.5,"67":1.0,"68":1.5,"69":1.1,"70":1.8,"71":1.3,"72":1.5,"73":1.2,"74":1.3,"75":1.4,"76":1.4,"77":1.7,"78":1.5,"79":1.0,"80":1.1,"81":1.0,"82":1.2,"83":1.6,"84":1.5,"85":1.6,"86":1.5,"87":1.3,"88":1.3,"89":1.3,"90":1.2,"91":1.4,"92":1.2,"93":1.0,"94":1.3,"95":1.2,"96":1.3,"97":1.3,"98":1.1,"99":1.3,"100":2.5,"101":1.9,"102":2.1,"103":1.8,"104":2.2,"105":2.1,"106":1.7,"107":1.8,"108":1.8,"109":2.5,"110":2.0,"111":1.9,"112":2.1,"113":2.0,"114":2.4,"115":2.3,"116":1.8,"117":2.2,"118":2.3,"119":1.5,"120":2.3,"121":2.0,"122":2.0,"123":1.8,"124":2.1,"125":1.8,"126":1.8,"127":1.8,"128":2.1,"129":1.6,"130":1.9,"131":2.0,"132":2.2,"133":1.5,"134":1.4,"135":2.3,"136":2.4,"137":1.8,"138":1.8,"139":2.1,"140":2.4,"141":2.3,"142":1.9,"143":2.3,"144":2.5,"145":2.3,"146":1.9,"147":2.0,"148":2.3,"149":1.8},"species":{"0":"setosa","1":"setosa","2":"setosa","3":"setosa","4":"setosa","5":"setosa","6":"setosa","7":"setosa","8":"setosa","9":"setosa","10":"setosa","11":"setosa","12":"setosa","13":"setosa","14":"setosa","15":"setosa","16":"setosa","17":"setosa","18":"setosa","19":"setosa","20":"setosa","21":"setosa","22":"setosa","23":"setosa","24":"setosa","25":"setosa","26":"setosa","27":"setosa","28":"setosa","29":"setosa","30":"setosa","31":"setosa","32":"setosa","33":"setosa","34":"setosa","35":"setosa","36":"setosa","37":"setosa","38":"setosa","39":"setosa","40":"setosa","41":"setosa","42":"setosa","43":"setosa","44":"setosa","45":"setosa","46":"setosa","47":"setosa","48":"setosa","49":"setosa","50":"versicolor","51":"versicolor","52":"versicolor","53":"versicolor","54":"versicolor","55":"versicolor","56":"versicolor","57":"versicolor","58":"versicolor","59":"versicolor","60":"versicolor","61":"versicolor","62":"versicolor","63":"versicolor","64":"versicolor","65":"versicolor","66":"versicolor","67":"versicolor","68":"versicolor","69":"versicolor","70":"versicolor","71":"versicolor","72":"versicolor","73":"versicolor","74":"versicolor","75":"versicolor","76":"versicolor","77":"versicolor","78":"versicolor","79":"versicolor","80":"versicolor","81":"versicolor","82":"versicolor","83":"versicolor","84":"versicolor","85":"versicolor","86":"versicolor","87":"versicolor","88":"versicolor","89":"versicolor","90":"versicolor","91":"versicolor","92":"versicolor","93":"versicolor","94":"versicolor","95":"versicolor","96":"versicolor","97":"versicolor","98":"versicolor","99":"versicolor","100":"virginica","101":"virginica","102":"virginica","103":"virginica","104":"virginica","105":"virginica","106":"virginica","107":"virginica","108":"virginica","109":"virginica","110":"virginica","111":"virginica","112":"virginica","113":"virginica","114":"virginica","115":"virginica","116":"virginica","117":"virginica","118":"virginica","119":"virginica","120":"virginica","121":"virginica","122":"virginica","123":"virginica","124":"virginica","125":"virginica","126":"virginica","127":"virginica","128":"virginica","129":"virginica","130":"virginica","131":"virginica","132":"virginica","133":"virginica","134":"virginica","135":"virginica","136":"virginica","137":"virginica","138":"virginica","139":"virginica","140":"virginica","141":"virginica","142":"virginica","143":"virginica","144":"virginica","145":"virginica","146":"virginica","147":"virginica","148":"virginica","149":"virginica"}}'

In [10]:
s='''dfjh'''

In [30]:
type(o)

str

In [31]:
json.loads(o)

{'sepal_length': {'0': 5.1,
  '1': 4.9,
  '2': 4.7,
  '3': 4.6,
  '4': 5.0,
  '5': 5.4,
  '6': 4.6,
  '7': 5.0,
  '8': 4.4,
  '9': 4.9,
  '10': 5.4,
  '11': 4.8,
  '12': 4.8,
  '13': 4.3,
  '14': 5.8,
  '15': 5.7,
  '16': 5.4,
  '17': 5.1,
  '18': 5.7,
  '19': 5.1,
  '20': 5.4,
  '21': 5.1,
  '22': 4.6,
  '23': 5.1,
  '24': 4.8,
  '25': 5.0,
  '26': 5.0,
  '27': 5.2,
  '28': 5.2,
  '29': 4.7,
  '30': 4.8,
  '31': 5.4,
  '32': 5.2,
  '33': 5.5,
  '34': 4.9,
  '35': 5.0,
  '36': 5.5,
  '37': 4.9,
  '38': 4.4,
  '39': 5.1,
  '40': 5.0,
  '41': 4.5,
  '42': 4.4,
  '43': 5.0,
  '44': 5.1,
  '45': 4.8,
  '46': 5.1,
  '47': 4.6,
  '48': 5.3,
  '49': 5.0,
  '50': 7.0,
  '51': 6.4,
  '52': 6.9,
  '53': 5.5,
  '54': 6.5,
  '55': 5.7,
  '56': 6.3,
  '57': 4.9,
  '58': 6.6,
  '59': 5.2,
  '60': 5.0,
  '61': 5.9,
  '62': 6.0,
  '63': 6.1,
  '64': 5.6,
  '65': 6.7,
  '66': 5.6,
  '67': 5.8,
  '68': 6.2,
  '69': 5.6,
  '70': 5.9,
  '71': 6.1,
  '72': 6.3,
  '73': 6.1,
  '74': 6.4,
  '75': 6.6,
  '76': 6.8,
  '77': 6.7,
  '78': 6.0,
  '79': 5.7,
  '80': 5.5,
  '81': 5.5,
  '82': 5.8,
  '83': 6.0,
  '84': 5.4,
  '85': 6.0,
  '86': 6.7,
  '87': 6.3,
  '88': 5.6,
  '89': 5.5,
  '90': 5.5,
  '91': 6.1,
  '92': 5.8,
  '93': 5.0,
  '94': 5.6,
  '95': 5.7,
  '96': 5.7,
  '97': 6.2,
  '98': 5.1,
  '99': 5.7,
  '100': 6.3,
  '101': 5.8,
  '102': 7.1,
  '103': 6.3,
  '104': 6.5,
  '105': 7.6,
  '106': 4.9,
  '107': 7.3,
  '108': 6.7,
  '109': 7.2,
  '110': 6.5,
  '111': 6.4,
  '112': 6.8,
  '113': 5.7,
  '114': 5.8,
  '115': 6.4,
  '116': 6.5,
  '117': 7.7,
  '118': 7.7,
  '119': 6.0,
  '120': 6.9,
  '121': 5.6,
  '122': 7.7,
  '123': 6.3,
  '124': 6.7,
  '125': 7.2,
  '126': 6.2,
  '127': 6.1,
  '128': 6.4,
  '129': 7.2,
  '130': 7.4,
  '131': 7.9,
  '132': 6.4,
  '133': 6.3,
  '134': 6.1,
  '135': 7.7,
  '136': 6.3,
  '137': 6.4,
  '138': 6.0,
  '139': 6.9,
  '140': 6.7,
  '141': 6.9,
  '142': 5.8,
  '143': 6.8,
  '144': 6.7,
  '145': 6.7,
  '146': 6.3,
  '147': 6.5,
  '148': 6.2,
  '149': 5.9},
 'sepal_width': {'0': 3.5,
  '1': 3.0,
  '2': 3.2,
  '3': 3.1,
  '4': 3.6,
  '5': 3.9,
  '6': 3.4,
  '7': 3.4,
  '8': 2.9,
  '9': 3.1,
  '10': 3.7,
  '11': 3.4,
  '12': 3.0,
  '13': 3.0,
  '14': 4.0,
  '15': 4.4,
  '16': 3.9,
  '17': 3.5,
  '18': 3.8,
  '19': 3.8,
  '20': 3.4,
  '21': 3.7,
  '22': 3.6,
  '23': 3.3,
  '24': 3.4,
  '25': 3.0,
  '26': 3.4,
  '27': 3.5,
  '28': 3.4,
  '29': 3.2,
  '30': 3.1,
  '31': 3.4,
  '32': 4.1,
  '33': 4.2,
  '34': 3.1,
  '35': 3.2,
  '36': 3.5,
  '37': 3.6,
  '38': 3.0,
  '39': 3.4,
  '40': 3.5,
  '41': 2.3,
  '42': 3.2,
  '43': 3.5,
  '44': 3.8,
  '45': 3.0,
  '46': 3.8,
  '47': 3.2,
  '48': 3.7,
  '49': 3.3,
  '50': 3.2,
  '51': 3.2,
  '52': 3.1,
  '53': 2.3,
  '54': 2.8,
  '55': 2.8,
  '56': 3.3,
  '57': 2.4,
  '58': 2.9,
  '59': 2.7,
  '60': 2.0,
  '61': 3.0,
  '62': 2.2,
  '63': 2.9,
  '64': 2.9,
  '65': 3.1,
  '66': 3.0,
  '67': 2.7,
  '68': 2.2,
  '69': 2.5,
  '70': 3.2,
  '71': 2.8,
  '72': 2.5,
  '73': 2.8,
  '74': 2.9,
  '75': 3.0,
  '76': 2.8,
  '77': 3.0,
  '78': 2.9,
  '79': 2.6,
  '80': 2.4,
  '81': 2.4,
  '82': 2.7,
  '83': 2.7,
  '84': 3.0,
  '85': 3.4,
  '86': 3.1,
  '87': 2.3,
  '88': 3.0,
  '89': 2.5,
  '90': 2.6,
  '91': 3.0,
  '92': 2.6,
  '93': 2.3,
  '94': 2.7,
  '95': 3.0,
  '96': 2.9,
  '97': 2.9,
  '98': 2.5,
  '99': 2.8,
  '100': 3.3,
  '101': 2.7,
  '102': 3.0,
  '103': 2.9,
  '104': 3.0,
  '105': 3.0,
  '106': 2.5,
  '107': 2.9,
  '108': 2.5,
  '109': 3.6,
  '110': 3.2,
  '111': 2.7,
  '112': 3.0,
  '113': 2.5,
  '114': 2.8,
  '115': 3.2,
  '116': 3.0,
  '117': 3.8,
  '118': 2.6,
  '119': 2.2,
  '120': 3.2,
  '121': 2.8,
  '122': 2.8,
  '123': 2.7,
  '124': 3.3,
  '125': 3.2,
  '126': 2.8,
  '127': 3.0,
  '128': 2.8,
  '129': 3.0,
  '130': 2.8,
  '131': 3.8,
  '132': 2.8,
  '133': 2.8,
  '134': 2.6,
  '135': 3.0,
  '136': 3.4,
  '137': 3.1,
  '138': 3.0,
  '139': 3.1,
  '140': 3.1,
  '141': 3.1,
  '142': 2.7,
  '143': 3.2,
  '144': 3.3,
  '145': 3.0,
  '146': 2.5,
  '147': 3.0,
  '148': 3.4,
  '149': 3.0},
 'petal_length': {'0': 1.4,
  '1': 1.4,
  '2': 1.3,
  '3': 1.5,
  '4': 1.4,
  '5': 1.7,
  '6': 1.4,
  '7': 1.5,
  '8': 1.4,
  '9': 1.5,
  '10': 1.5,
  '11': 1.6,
  '12': 1.4,
  '13': 1.1,
  '14': 1.2,
  '15': 1.5,
  '16': 1.3,
  '17': 1.4,
  '18': 1.7,
  '19': 1.5,
  '20': 1.7,
  '21': 1.5,
  '22': 1.0,
  '23': 1.7,
  '24': 1.9,
  '25': 1.6,
  '26': 1.6,
  '27': 1.5,
  '28': 1.4,
  '29': 1.6,
  '30': 1.6,
  '31': 1.5,
  '32': 1.5,
  '33': 1.4,
  '34': 1.5,
  '35': 1.2,
  '36': 1.3,
  '37': 1.4,
  '38': 1.3,
  '39': 1.5,
  '40': 1.3,
  '41': 1.3,
  '42': 1.3,
  '43': 1.6,
  '44': 1.9,
  '45': 1.4,
  '46': 1.6,
  '47': 1.4,
  '48': 1.5,
  '49': 1.4,
  '50': 4.7,
  '51': 4.5,
  '52': 4.9,
  '53': 4.0,
  '54': 4.6,
  '55': 4.5,
  '56': 4.7,
  '57': 3.3,
  '58': 4.6,
  '59': 3.9,
  '60': 3.5,
  '61': 4.2,
  '62': 4.0,
  '63': 4.7,
  '64': 3.6,
  '65': 4.4,
  '66': 4.5,
  '67': 4.1,
  '68': 4.5,
  '69': 3.9,
  '70': 4.8,
  '71': 4.0,
  '72': 4.9,
  '73': 4.7,
  '74': 4.3,
  '75': 4.4,
  '76': 4.8,
  '77': 5.0,
  '78': 4.5,
  '79': 3.5,
  '80': 3.8,
  '81': 3.7,
  '82': 3.9,
  '83': 5.1,
  '84': 4.5,
  '85': 4.5,
  '86': 4.7,
  '87': 4.4,
  '88': 4.1,
  '89': 4.0,
  '90': 4.4,
  '91': 4.6,
  '92': 4.0,
  '93': 3.3,
  '94': 4.2,
  '95': 4.2,
  '96': 4.2,
  '97': 4.3,
  '98': 3.0,
  '99': 4.1,
  '100': 6.0,
  '101': 5.1,
  '102': 5.9,
  '103': 5.6,
  '104': 5.8,
  '105': 6.6,
  '106': 4.5,
  '107': 6.3,
  '108': 5.8,
  '109': 6.1,
  '110': 5.1,
  '111': 5.3,
  '112': 5.5,
  '113': 5.0,
  '114': 5.1,
  '115': 5.3,
  '116': 5.5,
  '117': 6.7,
  '118': 6.9,
  '119': 5.0,
  '120': 5.7,
  '121': 4.9,
  '122': 6.7,
  '123': 4.9,
  '124': 5.7,
  '125': 6.0,
  '126': 4.8,
  '127': 4.9,
  '128': 5.6,
  '129': 5.8,
  '130': 6.1,
  '131': 6.4,
  '132': 5.6,
  '133': 5.1,
  '134': 5.6,
  '135': 6.1,
  '136': 5.6,
  '137': 5.5,
  '138': 4.8,
  '139': 5.4,
  '140': 5.6,
  '141': 5.1,
  '142': 5.1,
  '143': 5.9,
  '144': 5.7,
  '145': 5.2,
  '146': 5.0,
  '147': 5.2,
  '148': 5.4,
  '149': 5.1},
 'petal_width': {'0': 0.2,
  '1': 0.2,
  '2': 0.2,
  '3': 0.2,
  '4': 0.2,
  '5': 0.4,
  '6': 0.3,
  '7': 0.2,
  '8': 0.2,
  '9': 0.1,
  '10': 0.2,
  '11': 0.2,
  '12': 0.1,
  '13': 0.1,
  '14': 0.2,
  '15': 0.4,
  '16': 0.4,
  '17': 0.3,
  '18': 0.3,
  '19': 0.3,
  '20': 0.2,
  '21': 0.4,
  '22': 0.2,
  '23': 0.5,
  '24': 0.2,
  '25': 0.2,
  '26': 0.4,
  '27': 0.2,
  '28': 0.2,
  '29': 0.2,
  '30': 0.2,
  '31': 0.4,
  '32': 0.1,
  '33': 0.2,
  '34': 0.2,
  '35': 0.2,
  '36': 0.2,
  '37': 0.1,
  '38': 0.2,
  '39': 0.2,
  '40': 0.3,
  '41': 0.3,
  '42': 0.2,
  '43': 0.6,
  '44': 0.4,
  '45': 0.3,
  '46': 0.2,
  '47': 0.2,
  '48': 0.2,
  '49': 0.2,
  '50': 1.4,
  '51': 1.5,
  '52': 1.5,
  '53': 1.3,
  '54': 1.5,
  '55': 1.3,
  '56': 1.6,
  '57': 1.0,
  '58': 1.3,
  '59': 1.4,
  '60': 1.0,
  '61': 1.5,
  '62': 1.0,
  '63': 1.4,
  '64': 1.3,
  '65': 1.4,
  '66': 1.5,
  '67': 1.0,
  '68': 1.5,
  '69': 1.1,
  '70': 1.8,
  '71': 1.3,
  '72': 1.5,
  '73': 1.2,
  '74': 1.3,
  '75': 1.4,
  '76': 1.4,
  '77': 1.7,
  '78': 1.5,
  '79': 1.0,
  '80': 1.1,
  '81': 1.0,
  '82': 1.2,
  '83': 1.6,
  '84': 1.5,
  '85': 1.6,
  '86': 1.5,
  '87': 1.3,
  '88': 1.3,
  '89': 1.3,
  '90': 1.2,
  '91': 1.4,
  '92': 1.2,
  '93': 1.0,
  '94': 1.3,
  '95': 1.2,
  '96': 1.3,
  '97': 1.3,
  '98': 1.1,
  '99': 1.3,
  '100': 2.5,
  '101': 1.9,
  '102': 2.1,
  '103': 1.8,
  '104': 2.2,
  '105': 2.1,
  '106': 1.7,
  '107': 1.8,
  '108': 1.8,
  '109': 2.5,
  '110': 2.0,
  '111': 1.9,
  '112': 2.1,
  '113': 2.0,
  '114': 2.4,
  '115': 2.3,
  '116': 1.8,
  '117': 2.2,
  '118': 2.3,
  '119': 1.5,
  '120': 2.3,
  '121': 2.0,
  '122': 2.0,
  '123': 1.8,
  '124': 2.1,
  '125': 1.8,
  '126': 1.8,
  '127': 1.8,
  '128': 2.1,
  '129': 1.6,
  '130': 1.9,
  '131': 2.0,
  '132': 2.2,
  '133': 1.5,
  '134': 1.4,
  '135': 2.3,
  '136': 2.4,
  '137': 1.8,
  '138': 1.8,
  '139': 2.1,
  '140': 2.4,
  '141': 2.3,
  '142': 1.9,
  '143': 2.3,
  '144': 2.5,
  '145': 2.3,
  '146': 1.9,
  '147': 2.0,
  '148': 2.3,
  '149': 1.8},
 'species': {'0': 'setosa',
  '1': 'setosa',
  '2': 'setosa',
  '3': 'setosa',
  '4': 'setosa',
  '5': 'setosa',
  '6': 'setosa',
  '7': 'setosa',
  '8': 'setosa',
  '9': 'setosa',
  '10': 'setosa',
  '11': 'setosa',
  '12': 'setosa',
  '13': 'setosa',
  '14': 'setosa',
  '15': 'setosa',
  '16': 'setosa',
  '17': 'setosa',
  '18': 'setosa',
  '19': 'setosa',
  '20': 'setosa',
  '21': 'setosa',
  '22': 'setosa',
  '23': 'setosa',
  '24': 'setosa',
  '25': 'setosa',
  '26': 'setosa',
  '27': 'setosa',
  '28': 'setosa',
  '29': 'setosa',
  '30': 'setosa',
  '31': 'setosa',
  '32': 'setosa',
  '33': 'setosa',
  '34': 'setosa',
  '35': 'setosa',
  '36': 'setosa',
  '37': 'setosa',
  '38': 'setosa',
  '39': 'setosa',
  '40': 'setosa',
  '41': 'setosa',
  '42': 'setosa',
  '43': 'setosa',
  '44': 'setosa',
  '45': 'setosa',
  '46': 'setosa',
  '47': 'setosa',
  '48': 'setosa',
  '49': 'setosa',
  '50': 'versicolor',
  '51': 'versicolor',
  '52': 'versicolor',
  '53': 'versicolor',
  '54': 'versicolor',
  '55': 'versicolor',
  '56': 'versicolor',
  '57': 'versicolor',
  '58': 'versicolor',
  '59': 'versicolor',
  '60': 'versicolor',
  '61': 'versicolor',
  '62': 'versicolor',
  '63': 'versicolor',
  '64': 'versicolor',
  '65': 'versicolor',
  '66': 'versicolor',
  '67': 'versicolor',
  '68': 'versicolor',
  '69': 'versicolor',
  '70': 'versicolor',
  '71': 'versicolor',
  '72': 'versicolor',
  '73': 'versicolor',
  '74': 'versicolor',
  '75': 'versicolor',
  '76': 'versicolor',
  '77': 'versicolor',
  '78': 'versicolor',
  '79': 'versicolor',
  '80': 'versicolor',
  '81': 'versicolor',
  '82': 'versicolor',
  '83': 'versicolor',
  '84': 'versicolor',
  '85': 'versicolor',
  '86': 'versicolor',
  '87': 'versicolor',
  '88': 'versicolor',
  '89': 'versicolor',
  '90': 'versicolor',
  '91': 'versicolor',
  '92': 'versicolor',
  '93': 'versicolor',
  '94': 'versicolor',
  '95': 'versicolor',
  '96': 'versicolor',
  '97': 'versicolor',
  '98': 'versicolor',
  '99': 'versicolor',
  '100': 'virginica',
  '101': 'virginica',
  '102': 'virginica',
  '103': 'virginica',
  '104': 'virginica',
  '105': 'virginica',
  '106': 'virginica',
  '107': 'virginica',
  '108': 'virginica',
  '109': 'virginica',
  '110': 'virginica',
  '111': 'virginica',
  '112': 'virginica',
  '113': 'virginica',
  '114': 'virginica',
  '115': 'virginica',
  '116': 'virginica',
  '117': 'virginica',
  '118': 'virginica',
  '119': 'virginica',
  '120': 'virginica',
  '121': 'virginica',
  '122': 'virginica',
  '123': 'virginica',
  '124': 'virginica',
  '125': 'virginica',
  '126': 'virginica',
  '127': 'virginica',
  '128': 'virginica',
  '129': 'virginica',
  '130': 'virginica',
  '131': 'virginica',
  '132': 'virginica',
  '133': 'virginica',
  '134': 'virginica',
  '135': 'virginica',
  '136': 'virginica',
  '137': 'virginica',
  '138': 'virginica',
  '139': 'virginica',
  '140': 'virginica',
  '141': 'virginica',
  '142': 'virginica',
  '143': 'virginica',
  '144': 'virginica',
  '145': 'virginica',
  '146': 'virginica',
  '147': 'virginica',
  '148': 'virginica',
  '149': 'virginica'}}

In [11]:
type(s)

str

In [12]:
o

'{ "firstName": "Joe",\n   "lastName": "Jackson",\n   "gender": "male",\n   "age": "28",\n   "address": [\n       "streetAddress", "101",\n       "city", "San Diego",\n       "state","dd"\n       ],\n   "phoneNumbers": [\n     "type", "home", "number","7349282382" ,"87","96"\n   ]\n}'

In [13]:
o

'{ "firstName": "Joe",\n   "lastName": "Jackson",\n   "gender": "male",\n   "age": "28",\n   "address": [\n       "streetAddress", "101",\n       "city", "San Diego",\n       "state","dd"\n       ],\n   "phoneNumbers": [\n     "type", "home", "number","7349282382" ,"87","96"\n   ]\n}'

In [14]:
type(data)

NameError: name 'data' is not defined

In [15]:
type(o)

str

In [16]:
import json

In [19]:
data=json.loads(o)

In [20]:
pd.DataFrame(data
            )

  firstName lastName gender age        address phoneNumbers
0       Joe  Jackson   male  28  streetAddress         type
1       Joe  Jackson   male  28            101         home
2       Joe  Jackson   male  28           city       number
3       Joe  Jackson   male  28      San Diego   7349282382
4       Joe  Jackson   male  28          state           87
5       Joe  Jackson   male  28             dd           96

In [25]:
data['address']

['streetAddress', '101', 'city', 'San Diego', 'state', 'dd']

In [26]:
del data['age']

In [27]:
data

{'firstName': 'Joe',
 'lastName': 'Jackson',
 'gender': 'male',
 'address': ['streetAddress', '101', 'city', 'San Diego', 'state', 'dd'],
 'phoneNumbers': ['type', 'home', 'number', '7349282382', '87', '96']}

In [28]:
json.loads(it converts the string to dict)

SyntaxError: invalid syntax (3831213273.py, line 1)

In [29]:
strr="""{"key":"65"}"""

In [30]:
strr

'{"key":"65"}'

In [31]:
json.loads(strr)

{'key': '65'}

In [32]:
type(json.loads(strr))

dict

In [33]:
import requests

In [34]:
data=requests.get('https://filesamples.com/samples/code/json/sample2.json')

In [35]:
data

In [36]:
d=data

In [37]:
d

In [38]:
type(data)

requests.models.Response

In [39]:
data.json()

{'firstName': 'Joe',
 'lastName': 'Jackson',
 'gender': 'male',
 'age': 28,
 'address': {'streetAddress': '101', 'city': 'San Diego', 'state': 'CA'},
 'phoneNumbers': [{'type': 'home', 'number': '7349282382'}]}

In [40]:
data1=data.json()

In [41]:
type(data1)

dict

In [42]:
p="""{ "firstName": "Joe",
   "lastName": "Jackson",
   "gender": "male",
   "age": "28",
   "address": [
       "streetAddress", "101",
       "city", "San Diego",
       "state","dd"
       ],
   "phoneNumbers": [
     "type", "home", "number","7349282382" ,"87","96"
   ]
}"""

In [43]:
q=json.loads(p)

In [44]:
q

{'firstName': 'Joe',
 'lastName': 'Jackson',
 'gender': 'male',
 'age': '28',
 'address': ['streetAddress', '101', 'city', 'San Diego', 'state', 'dd'],
 'phoneNumbers': ['type', 'home', 'number', '7349282382', '87', '96']}

In [45]:
pd.DataFrame(q['phoneNumbers'])

            0
0        type
1        home
2      number
3  7349282382
4          87
5          96

In [46]:
pd.DataFrame(q)

  firstName lastName gender age        address phoneNumbers
0       Joe  Jackson   male  28  streetAddress         type
1       Joe  Jackson   male  28            101         home
2       Joe  Jackson   male  28           city       number
3       Joe  Jackson   male  28      San Diego   7349282382
4       Joe  Jackson   male  28          state           87
5       Joe  Jackson   male  28             dd           96

In [47]:
data.json()

{'firstName': 'Joe',
 'lastName': 'Jackson',
 'gender': 'male',
 'age': 28,
 'address': {'streetAddress': '101', 'city': 'San Diego', 'state': 'CA'},
 'phoneNumbers': [{'type': 'home', 'number': '7349282382'}]}

In [32]:
url='https://raw.githubusercontent.com/aavail/ai-workflow-capstone/master/cs-train/invoices-2017-11.json'

In [34]:
import requests
data=requests.get(url)

In [35]:
data1=data.json()

In [36]:
len(data1)

9502

In [37]:
type(data1[0])

dict

In [53]:
data1[1]

{'country': 'United Kingdom',
 'customer_id': None,
 'invoice': '489597',
 'price': 8.65,
 'stream_id': '22130',
 'times_viewed': 1,
 'year': '2017',
 'month': '11',
 'day': '28'}

In [44]:
type(data.json())

list

In [45]:
data.json()

[{'country': 'United Kingdom',
  'customer_id': 13085.0,
  'invoice': '489434',
  'price': 6.95,
  'stream_id': '85048',
  'times_viewed': 12,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 8.65,
  'stream_id': '22130',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.7,
  'stream_id': '22132',
  'times_viewed': 6,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.7,
  'stream_id': '22133',
  'times_viewed': 4,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 0.87,
  'stream_id': '22134',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 0.87,
  'stream_id': '22135',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 11.26,
  'stream_id': '22138',
  'times_viewed': 3,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 11.26,
  'stream_id': '22139',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 4.3,
  'stream_id': '22141',
  'times_viewed': 6,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22142',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 4.3,
  'stream_id': '22143',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 4.3,
  'stream_id': '22144',
  'times_viewed': 3,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22147',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 4.3,
  'stream_id': '22149',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 4.3,
  'stream_id': '22150',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 0.87,
  'stream_id': '22153',
  'times_viewed': 5,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 0.87,
  'stream_id': '22155',
  'times_viewed': 5,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.7,
  'stream_id': '22156',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 6.04,
  'stream_id': '22163',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 6.04,
  'stream_id': '22173',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22174',
  'times_viewed': 5,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 21.7,
  'stream_id': '22177',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 6.04,
  'stream_id': '22122',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 8.65,
  'stream_id': '22187',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 12.13,
  'stream_id': '22121',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 6.04,
  'stream_id': '22117',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 6.04,
  'stream_id': '21993',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22054',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22055',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22064',
  'times_viewed': 3,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22068',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22069',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 7.78,
  'stream_id': '22072',
  'times_viewed': 10,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22079',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22081',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 6.04,
  'stream_id': '22083',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 6.04,
  'stream_id': '22086',
  'times_viewed': 12,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 7.78,
  'stream_id': '22107',
  'times_viewed': 3,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 7.78,
  'stream_id': '22108',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 7.78,
  'stream_id': '22109',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 8.65,
  'stream_id': '22111',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 2.57,
  'stream_id': '84380',
  'times_viewed': 3,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 11.26,
  'stream_id': '22111',
  'times_viewed': 4,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 11.26,
  'stream_id': '22112',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 7.78,
  'stream_id': '22113',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 8.65,
  'stream_id': '22114',
  'times_viewed': 9,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 6.04,
  'stream_id': '22115',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 12.13,
  'stream_id': '22118',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 6.04,
  'stream_id': '21990',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 8.65,
  'stream_id': '22189',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22195',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 2.57,
  'stream_id': '22315',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 10.39,
  'stream_id': '22324',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.3,
  'stream_id': '22336',
  'times_viewed': 3,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 2.57,
  'stream_id': '22347',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.7,
  'stream_id': '22348',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 5.17,
  'stream_id': '22353',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.7,
  'stream_id': '22355',
  'times_viewed': 14,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.7,
  'stream_id': '22356',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.7,
  'stream_id': '30086C',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 8.65,
  'stream_id': '35001W',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 13.0,
  'stream_id': '35004B',
  'times_viewed': 3,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 13.0,
  'stream_id': '35004S',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 17.35,
  'stream_id': '35400',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 2.57,
  'stream_id': '35471A',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 2.57,
  'stream_id': '35471D',
  'times_viewed': 5,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.7,
  'stream_id': '35594',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 6.91,
  'stream_id': '35598B',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 6.04,
  'stream_id': '35599D',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 21.7,
  'stream_id': '35600D',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 8.65,
  'stream_id': '35951',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.7,
  'stream_id': '35961',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 8.65,
  'stream_id': '22312',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 4.3,
  'stream_id': '22190',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 8.65,
  'stream_id': '22311',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 5.17,
  'stream_id': '22302',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.7,
  'stream_id': '22196',
  'times_viewed': 4,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.7,
  'stream_id': '22197',
  'times_viewed': 6,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22198',
  'times_viewed': 6,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 8.65,
  'stream_id': '22199',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 7.78,
  'stream_id': '22203',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 8.65,
  'stream_id': '22207',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22208',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 4.3,
  'stream_id': '22212',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 6.04,
  'stream_id': '22224',
  'times_viewed': 3,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.7,
  'stream_id': '22261',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.7,
  'stream_id': '22262',
  'times_viewed': 4,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 6.04,
  'stream_id': '22273',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 6.04,
  'stream_id': '22274',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22286',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 2.57,
  'stream_id': '22288',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 2.57,
  'stream_id': '22289',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22295',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 3.43,
  'stream_id': '22296',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 2.57,
  'stream_id': '22297',
  'times_viewed': 3,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 5.17,
  'stream_id': '22300',
  'times_viewed': 4,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 5.17,
  'stream_id': '22301',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 5.17,
  'stream_id': '22303',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 0.83,
  'stream_id': '21985',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.3,
  'stream_id': '21977',
  'times_viewed': 3,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 1.3,
  'stream_id': '21975',
  'times_viewed': 1,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 13.0,
  'stream_id': '15059A',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 0.43,
  'stream_id': '16235',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 0.43,
  'stream_id': '16237',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',
  'customer_id': None,
  'invoice': '489597',
  'price': 2.57,
  'stream_id': '21673',
  'times_viewed': 2,
  'year': '2017',
  'month': '11',
  'day': '28'},
 {'country': 'United Kingdom',

In [54]:
pd.DataFrame(data1)

,country,customer_id,invoice,price,stream_id,times_viewed,year,month,day
0,United Kingdom,13085.0,489434,6.95,85048,12,2017,11,28
1,United Kingdom,NaN,489597,8.65,22130,1,2017,11,28
2,United Kingdom,NaN,489597,1.70,22132,6,2017,11,28
3,United Kingdom,NaN,489597,1.70,22133,4,2017,11,28
4,United Kingdom,NaN,489597,0.87,22134,1,2017,11,28
...,...,...,...,...,...,...,...,...,...
9497,United Kingdom,13895.0,490052,1.25,21791,16,2017,11,30
9498,United Kingdom,16779.0,490048,2.10,85173,6,2017,11,30
9499,United Kingdom,13895.0,490052,3.75,21888,8,2017,11,30
9500,United Kingdom,13895.0,490052,0.42,21917,1,2017,11,30
9501,United Kingdom,13895.0,490052,0.85,21790,16,2017,11,30

In [70]:
d={'key1':255}

In [71]:
pd.DataFrame(d)

ValueError: If using all scalar values, you must pass an index

In [55]:
l1=[]
for i in data1[0]:
    l1.append([i,data1[0][i]])

In [56]:
l1

[['country', 'United Kingdom'],
 ['customer_id', 13085.0],
 ['invoice', '489434'],
 ['price', 6.95],
 ['stream_id', '85048'],
 ['times_viewed', 12],
 ['year', '2017'],
 ['month', '11'],
 ['day', '28']]

In [57]:
p="""{'firstName': 'Joe',
 'lastName': 'Jackson',
 'gender': 'male',
 'age': '28',
 'address': ['streetAddress', '101', 'city', 'San Diego', 'state', 'dd'],
 'phoneNumbers': ['type', 'home', 'number', '7349282382', '87', '96']}"""

In [58]:
json.loads(p)

JSONDecodeError: Expecting property name enclosed in double quotes: line 1 column 2 (char 1)

In [59]:
p="""{ "firstName": "Joe",
   "lastName": "Jackson",
   "gender": "male",
   "age": "28",
   "address": [
       "streetAddress", "101",
       "city", "San Diego",
       "state","ddf"
       ],
   "phoneNumbers": [
     "type", "home", "number","7349282382" ,"87","98"
   ]
}"""

In [60]:
p1=json.loads(p)

In [61]:
pd.DataFrame(p1)

  firstName lastName gender age        address phoneNumbers
0       Joe  Jackson   male  28  streetAddress         type
1       Joe  Jackson   male  28            101         home
2       Joe  Jackson   male  28           city       number
3       Joe  Jackson   male  28      San Diego   7349282382
4       Joe  Jackson   male  28          state           87
5       Joe  Jackson   male  28            ddf           98

In [62]:
import requests

In [63]:
url='https://raw.githubusercontent.com/ozlerhakan/mongodb-json-files/master/datasets/students.json'

In [64]:
data=requests.get(url)

In [65]:
data.json()

JSONDecodeError: [Errno Extra data] {"_id":0,"name":"aimee Zank","scores":[{"score":1.463179736705023,"type":"exam"},{"score":11.78273309957772,"type":"quiz"},{"score":35.8740349954354,"type":"homework"}]}
{"_id":1,"name":"Aurelia Menendez","scores":[{"score":60.06045071030959,"type":"exam"},{"score":52.79790691903873,"type":"quiz"},{"score":71.76133439165544,"type":"homework"}]}
{"_id":2,"name":"Corliss Zuk","scores":[{"score":67.03077096065002,"type":"exam"},{"score":6.301851677835235,"type":"quiz"},{"score":66.28344683278382,"type":"homework"}]}
{"_id":3,"name":"Bao Ziglar","scores":[{"score":71.64343899778332,"type":"exam"},{"score":24.80221293650313,"type":"quiz"},{"score":42.26147058804812,"type":"homework"}]}
{"_id":4,"name":"Zachary Langlais","scores":[{"score":78.68385091304332,"type":"exam"},{"score":90.2963101368042,"type":"quiz"},{"score":34.41620148042529,"type":"homework"}]}
{"_id":5,"name":"Wilburn Spiess","scores":[{"score":44.87186330181261,"type":"exam"},{"score":25.72395114668016,"type":"quiz"},{"score":63.42288310628662,"type":"homework"}]}
{"_id":6,"name":"Jenette Flanders","scores":[{"score":37.32285459166097,"type":"exam"},{"score":28.32634976913737,"type":"quiz"},{"score":81.57115318686338,"type":"homework"}]}
{"_id":7,"name":"Salena Olmos","scores":[{"score":90.37826509157176,"type":"exam"},{"score":42.48780666956811,"type":"quiz"},{"score":96.52986171633331,"type":"homework"}]}
{"_id":8,"name":"Daphne Zheng","scores":[{"score":22.13583712862635,"type":"exam"},{"score":14.63969941335069,"type":"quiz"},{"score":75.94123677556644,"type":"homework"}]}
{"_id":9,"name":"Sanda Ryba","scores":[{"score":97.00509953654694,"type":"exam"},{"score":97.80449632538915,"type":"quiz"},{"score":25.27368532432955,"type":"homework"}]}
{"_id":10,"name":"Denisha Cast","scores":[{"score":45.61876862259409,"type":"exam"},{"score":98.35723209418343,"type":"quiz"},{"score":55.90835657173456,"type":"homework"}]}
{"_id":11,"name":"Marcus Blohm","scores":[{"score":78.42617835651868,"type":"exam"},{"score":82.58372817930675,"type":"quiz"},{"score":87.49924733328717,"type":"homework"}]}
{"_id":12,"name":"Quincy Danaher","scores":[{"score":54.29841278520669,"type":"exam"},{"score":85.61270164694737,"type":"quiz"},{"score":80.40732356118075,"type":"homework"}]}
{"_id":13,"name":"Jessika Dagenais","scores":[{"score":90.47179954427436,"type":"exam"},{"score":90.3001402468489,"type":"quiz"},{"score":95.17753772405909,"type":"homework"}]}
{"_id":14,"name":"Alix Sherrill","scores":[{"score":25.15924151998215,"type":"exam"},{"score":68.64484047692098,"type":"quiz"},{"score":24.68462152686763,"type":"homework"}]}
{"_id":15,"name":"Tambra Mercure","scores":[{"score":69.1565022533158,"type":"exam"},{"score":3.311794422000724,"type":"quiz"},{"score":45.03178973642521,"type":"homework"}]}
{"_id":16,"name":"Dodie Staller","scores":[{"score":7.772386442858281,"type":"exam"},{"score":31.84300235104542,"type":"quiz"},{"score":80.52136407989194,"type":"homework"}]}
{"_id":17,"name":"Fletcher Mcconnell","scores":[{"score":39.41011069729274,"type":"exam"},{"score":81.13270307809924,"type":"quiz"},{"score":97.70116640402922,"type":"homework"}]}
{"_id":18,"name":"Verdell Sowinski","scores":[{"score":62.12870233109035,"type":"exam"},{"score":84.74586220889356,"type":"quiz"},{"score":81.58947824932574,"type":"homework"}]}
{"_id":19,"name":"Gisela Levin","scores":[{"score":44.51211101958831,"type":"exam"},{"score":0.6578497966368002,"type":"quiz"},{"score":93.36341655949683,"type":"homework"}]}
{"_id":20,"name":"Tressa Schwing","scores":[{"score":42.17439799514388,"type":"exam"},{"score":71.99314840599558,"type":"quiz"},{"score":81.23972632069464,"type":"homework"}]}
{"_id":21,"name":"Rosana Vales","scores":[{"score":46.2289476258328,"type":"exam"},{"score":98.34164225207036,"type":"quiz"},{"score":36.18769746805938,"type":"homework"}]}
{"_id":22,"name":"Margart Vitello","scores":[{"score":75.04996547553947,"type":"exam"},{"score":10.23046475899236,"type":"quiz"},{"score":96.72520512117761,"type":"homework"}]}
{"_id":23,"name":"Tamika Schildgen","scores":[{"score":45.65432764125526,"type":"exam"},{"score":64.32927049658846,"type":"quiz"},{"score":83.53933351660562,"type":"homework"}]}
{"_id":24,"name":"Jesusa Rickenbacker","scores":[{"score":86.0319702155683,"type":"exam"},{"score":1.967495200433389,"type":"quiz"},{"score":61.10861071547914,"type":"homework"}]}
{"_id":25,"name":"Rudolph Domingo","scores":[{"score":74.75289335591543,"type":"exam"},{"score":38.5413647805495,"type":"quiz"},{"score":35.2554340953413,"type":"homework"}]}
{"_id":26,"name":"Jonie Raby","scores":[{"score":19.17861192576963,"type":"exam"},{"score":76.3890359749654,"type":"quiz"},{"score":44.39605672647002,"type":"homework"}]}
{"_id":27,"name":"Edgar Sarkis","scores":[{"score":8.606983261043888,"type":"exam"},{"score":58.71180464203724,"type":"quiz"},{"score":15.33726210596508,"type":"homework"}]}
{"_id":28,"name":"Laureen Salomone","scores":[{"score":3.677565278992456,"type":"exam"},{"score":7.119462599229987,"type":"quiz"},{"score":82.87308922617427,"type":"homework"}]}
{"_id":29,"name":"Gwyneth Garling","scores":[{"score":48.36644963899371,"type":"exam"},{"score":10.37827022865908,"type":"quiz"},{"score":93.26639335532833,"type":"homework"}]}
{"_id":30,"name":"Kaila Deibler","scores":[{"score":15.89771199662455,"type":"exam"},{"score":56.93965183412178,"type":"quiz"},{"score":66.64493295066322,"type":"homework"}]}
{"_id":31,"name":"Tandra Meadows","scores":[{"score":24.90138146001744,"type":"exam"},{"score":28.8266541837344,"type":"quiz"},{"score":97.16831550665721,"type":"homework"}]}
{"_id":32,"name":"Gwen Honig","scores":[{"score":87.14345376886205,"type":"exam"},{"score":99.45824441135635,"type":"quiz"},{"score":76.66460454219344,"type":"homework"}]}
{"_id":33,"name":"Sadie Jernigan","scores":[{"score":73.15861249943812,"type":"exam"},{"score":2.987718065941702,"type":"quiz"},{"score":82.54104198590488,"type":"homework"}]}
{"_id":34,"name":"Carli Belvins","scores":[{"score":7.112266875518214,"type":"exam"},{"score":67.734668378287,"type":"quiz"},{"score":88.99855402666871,"type":"homework"}]}
{"_id":35,"name":"Synthia Labelle","scores":[{"score":27.22049103148209,"type":"exam"},{"score":31.28760039265919,"type":"quiz"},{"score":79.23285425688643,"type":"homework"}]}
{"_id":36,"name":"Eugene Magdaleno","scores":[{"score":73.055900093666,"type":"exam"},{"score":79.85621560462026,"type":"quiz"},{"score":66.09143669040472,"type":"homework"}]}
{"_id":37,"name":"Meagan Oakes","scores":[{"score":86.06759716616264,"type":"exam"},{"score":79.45097452834857,"type":"quiz"},{"score":28.41090281547689,"type":"homework"}]}
{"_id":38,"name":"Richelle Siemers","scores":[{"score":34.64373397163318,"type":"exam"},{"score":91.46799649446983,"type":"quiz"},{"score":56.12615074082559,"type":"homework"}]}
{"_id":39,"name":"Mariette Batdorf","scores":[{"score":0.04381116979284005,"type":"exam"},{"score":90.25774974259562,"type":"quiz"},{"score":65.88612319625227,"type":"homework"}]}
{"_id":40,"name":"Rachell Aman","scores":[{"score":84.53009035375172,"type":"exam"},{"score":25.25568126160764,"type":"quiz"},{"score":70.42062575402956,"type":"homework"}]}
{"_id":41,"name":"Aleida Elsass","scores":[{"score":28.02518041693717,"type":"exam"},{"score":95.25243105389065,"type":"quiz"},{"score":68.05980405338909,"type":"homework"}]}
{"_id":42,"name":"Kayce Kenyon","scores":[{"score":44.62441703708117,"type":"exam"},{"score":27.38208798553111,"type":"quiz"},{"score":97.43587143437509,"type":"homework"}]}
{"_id":43,"name":"Ernestine Macfarland","scores":[{"score":15.29147856258362,"type":"exam"},{"score":78.40698797039501,"type":"quiz"},{"score":31.03031764716336,"type":"homework"}]}
{"_id":44,"name":"Houston Valenti","scores":[{"score":98.06441387027331,"type":"exam"},{"score":0.8760893342659504,"type":"quiz"},{"score":15.2177618920215,"type":"homework"}]}
{"_id":45,"name":"Terica Brugger","scores":[{"score":42.1011312120801,"type":"exam"},{"score":41.73654145887228,"type":"quiz"},{"score":18.91287189072117,"type":"homework"}]}
{"_id":46,"name":"Lady Lefevers","scores":[{"score":16.89237820123443,"type":"exam"},{"score":65.97505910406456,"type":"quiz"},{"score":48.42527123437286,"type":"homework"}]}
{"_id":47,"name":"Kurtis Jiles","scores":[{"score":92.96916908741805,"type":"exam"},{"score":22.86854192921203,"type":"quiz"},{"score":31.89793879453222,"type":"homework"}]}
{"_id":48,"name":"Barbera Lippman","scores":[{"score":35.43490750932609,"type":"exam"},{"score":97.42074160188449,"type":"quiz"},{"score":74.1092960902528,"type":"homework"}]}
{"_id":49,"name":"Dinah Sauve","scores":[{"score":96.64807532447064,"type":"exam"},{"score":14.56470882270576,"type":"quiz"},{"score":72.00519420743191,"type":"homework"}]}
{"_id":50,"name":"Alica Pasley","scores":[{"score":19.38544736721771,"type":"exam"},{"score":88.70752686639557,"type":"quiz"},{"score":60.62755218680213,"type":"homework"}]}
{"_id":51,"name":"Elizabet Kleine","scores":[{"score":86.81245449846962,"type":"exam"},{"score":36.196443334522,"type":"quiz"},{"score":77.94001750905642,"type":"homework"}]}
{"_id":52,"name":"Tawana Oberg","scores":[{"score":80.59006098671075,"type":"exam"},{"score":93.28438118988183,"type":"quiz"},{"score":93.12134003887978,"type":"homework"}]}
{"_id":53,"name":"Malisa Jeanes","scores":[{"score":33.44580005842922,"type":"exam"},{"score":7.172746439960975,"type":"quiz"},{"score":80.53328849494751,"type":"homework"}]}
{"_id":54,"name":"Joel Rueter","scores":[{"score":87.53636893952853,"type":"exam"},{"score":92.70974674256513,"type":"quiz"},{"score":61.79032586247813,"type":"homework"}]}
{"_id":55,"name":"Tresa Sinha","scores":[{"score":94.93136959210354,"type":"exam"},{"score":72.32226123565266,"type":"quiz"},{"score":77.248768811767,"type":"homework"}]}
{"_id":56,"name":"Danika Loeffler","scores":[{"score":21.54531707142236,"type":"exam"},{"score":41.75962115078149,"type":"quiz"},{"score":55.70195462204016,"type":"homework"}]}
{"_id":57,"name":"Chad Rahe","scores":[{"score":40.84572027366789,"type":"exam"},{"score":29.22733629679561,"type":"quiz"},{"score":93.12112348179406,"type":"homework"}]}
{"_id":58,"name":"Joaquina Arbuckle","scores":[{"score":28.66671659815553,"type":"exam"},{"score":40.48858382583742,"type":"quiz"},{"score":51.51393116681172,"type":"homework"}]}
{"_id":59,"name":"Vinnie Auerbach","scores":[{"score":95.45508256300009,"type":"exam"},{"score":7.512188017365151,"type":"quiz"},{"score":28.5905754294006,"type":"homework"}]}
{"_id":60,"name":"Dusti Lemmond","scores":[{"score":17.27725327681863,"type":"exam"},{"score":83.24439414725833,"type":"quiz"},{"score":81.84258722611811,"type":"homework"}]}
{"_id":61,"name":"Grady Zemke","scores":[{"score":51.91561300267121,"type":"exam"},{"score":50.08349374829509,"type":"quiz"},{"score":95.34139273570386,"type":"homework"}]}
{"_id":62,"name":"Vina Matsunaga","scores":[{"score":51.38190070034149,"type":"exam"},{"score":34.63479282877322,"type":"quiz"},{"score":46.27059093183421,"type":"homework"}]}
{"_id":63,"name":"Rubie Winton","scores":[{"score":7.176062073558509,"type":"exam"},{"score":46.32426882511162,"type":"quiz"},{"score":19.24312817599633,"type":"homework"}]}
{"_id":64,"name":"Whitley Fears","scores":[{"score":89.61845831842888,"type":"exam"},{"score":82.44879156010508,"type":"quiz"},{"score":96.57912148645883,"type":"homework"}]}
{"_id":65,"name":"Gena Riccio","scores":[{"score":67.58395308948619,"type":"exam"},{"score":67.2413500951588,"type":"quiz"},{"score":42.93471779899529,"type":"homework"}]}
{"_id":66,"name":"Kim Xu","scores":[{"score":19.96531774799065,"type":"exam"},{"score":17.52966217224916,"type":"quiz"},{"score":57.32983091095816,"type":"homework"}]}
{"_id":67,"name":"Merissa Mann","scores":[{"score":75.1949733626123,"type":"exam"},{"score":52.56522605123723,"type":"quiz"},{"score":94.67518167209815,"type":"homework"}]}
{"_id":68,"name":"Jenise Mcguffie","scores":[{"score":40.15210496060384,"type":"exam"},{"score":90.60219950183566,"type":"quiz"},{"score":51.58720341010564,"type":"homework"}]}
{"_id":69,"name":"Cody Strouth","scores":[{"score":4.784730508547719,"type":"exam"},{"score":99.80348240553108,"type":"quiz"},{"score":97.89665889862901,"type":"homework"}]}
{"_id":70,"name":"Harriett Velarde","scores":[{"score":33.7733570443736,"type":"exam"},{"score":96.05228578589255,"type":"quiz"},{"score":46.24926696413032,"type":"homework"}]}
{"_id":71,"name":"Kam Senters","scores":[{"score":81.56497719010976,"type":"exam"},{"score":5.247410853581524,"type":"quiz"},{"score":92.10078400854972,"type":"homework"}]}
{"_id":72,"name":"Leonida Lafond","scores":[{"score":92.10605086888438,"type":"exam"},{"score":32.66022211621239,"type":"quiz"},{"score":82.15588797092647,"type":"homework"}]}
{"_id":73,"name":"Devorah Smartt","scores":[{"score":69.60160495436016,"type":"exam"},{"score":6.931507591998553,"type":"quiz"},{"score":55.66005349294464,"type":"homework"}]}
{"_id":74,"name":"Leola Lundin","scores":[{"score":31.62936464207764,"type":"exam"},{"score":91.28658941188532,"type":"quiz"},{"score":93.71671632774428,"type":"homework"}]}
{"_id":75,"name":"Tonia Surace","scores":[{"score":80.93655069496523,"type":"exam"},{"score":79.54620208144452,"type":"quiz"},{"score":41.34308724166419,"type":"homework"}]}
{"_id":76,"name":"Adrien Renda","scores":[{"score":57.24794864351232,"type":"exam"},{"score":19.5118228072558,"type":"quiz"},{"score":70.71043448913191,"type":"homework"}]}
{"_id":77,"name":"Efrain Claw","scores":[{"score":55.41266579085205,"type":"exam"},{"score":31.30359328252952,"type":"quiz"},{"score":88.73134194093676,"type":"homework"}]}
{"_id":78,"name":"Len Treiber","scores":[{"score":21.21850173315791,"type":"exam"},{"score":13.2282768150266,"type":"quiz"},{"score":82.49842801247594,"type":"homework"}]}
{"_id":79,"name":"Mariela Sherer","scores":[{"score":61.20158144877323,"type":"exam"},{"score":52.75657259917104,"type":"quiz"},{"score":90.97004773806381,"type":"homework"}]}
{"_id":80,"name":"Echo Pippins","scores":[{"score":27.77924608896123,"type":"exam"},{"score":85.1861976198818,"type":"quiz"},{"score":92.50671800180454,"type":"homework"}]}
{"_id":81,"name":"Linnie Weigel","scores":[{"score":66.0349256424749,"type":"exam"},{"score":67.57096025532985,"type":"quiz"},{"score":38.33608066073369,"type":"homework"}]}
{"_id":82,"name":"Santiago Dollins","scores":[{"score":33.48242310776701,"type":"exam"},{"score":60.49199094204558,"type":"quiz"},{"score":87.02564768982076,"type":"homework"}]}
{"_id":83,"name":"Tonisha Games","scores":[{"score":29.13833807032966,"type":"exam"},{"score":35.25054111123917,"type":"quiz"},{"score":66.73047056293319,"type":"homework"}]}
{"_id":84,"name":"Timothy Harrod","scores":[{"score":93.23020013495737,"type":"exam"},{"score":49.06010347848443,"type":"quiz"},{"score":74.00788699415295,"type":"homework"}]}
{"_id":85,"name":"Rae Kohout","scores":[{"score":63.86894250781692,"type":"exam"},{"score":55.81549538273672,"type":"quiz"},{"score":59.13566011309437,"type":"homework"}]}
{"_id":86,"name":"Brain Lachapelle","scores":[{"score":2.013473187690951,"type":"exam"},{"score":45.01802394825918,"type":"quiz"},{"score":88.04712649447521,"type":"homework"}]}
{"_id":87,"name":"Toshiko Sabella","scores":[{"score":21.05570509531929,"type":"exam"},{"score":26.43387483146958,"type":"quiz"},{"score":42.80331214002496,"type":"homework"}]}
{"_id":88,"name":"Keesha Papadopoulos","scores":[{"score":82.35397321850031,"type":"exam"},{"score":3.064361273717464,"type":"quiz"},{"score":98.46867828216399,"type":"homework"}]}
{"_id":89,"name":"Cassi Heal","scores":[{"score":43.04310994985133,"type":"exam"},{"score":0.006247360551892012,"type":"quiz"},{"score":63.88558436723092,"type":"homework"}]}
{"_id":90,"name":"Osvaldo Hirt","scores":[{"score":67.44931456608883,"type":"exam"},{"score":41.77986504201782,"type":"quiz"},{"score":76.30879472084027,"type":"homework"}]}
{"_id":91,"name":"Ty Barbieri","scores":[{"score":38.43781607953586,"type":"exam"},{"score":95.70340794272111,"type":"quiz"},{"score":72.80272364761178,"type":"homework"}]}
{"_id":92,"name":"Ta Sikorski","scores":[{"score":30.02140506101446,"type":"exam"},{"score":23.89164976236439,"type":"quiz"},{"score":61.82907698626848,"type":"homework"}]}
{"_id":93,"name":"Lucinda Vanderburg","scores":[{"score":27.55843343656866,"type":"exam"},{"score":11.45699271327768,"type":"quiz"},{"score":75.53546873615787,"type":"homework"}]}
{"_id":94,"name":"Darby Wass","scores":[{"score":6.867644836612586,"type":"exam"},{"score":63.4908039680606,"type":"quiz"},{"score":85.41865347441522,"type":"homework"}]}
{"_id":95,"name":"Omar Bowdoin","scores":[{"score":8.58858127638702,"type":"exam"},{"score":88.40377630359677,"type":"quiz"},{"score":25.71387474240768,"type":"homework"}]}
{"_id":96,"name":"Milan Mcgavock","scores":[{"score":69.11554341921843,"type":"exam"},{"score":10.2027724707151,"type":"quiz"},{"score":24.87545552041663,"type":"homework"}]}
{"_id":97,"name":"Maren Scheider","scores":[{"score":94.4329121733663,"type":"exam"},{"score":77.28263690107663,"type":"quiz"},{"score":59.46326216544371,"type":"homework"}]}
{"_id":98,"name":"Carli Ector","scores":[{"score":88.18040268522668,"type":"exam"},{"score":60.3111085581054,"type":"quiz"},{"score":96.33612053785647,"type":"homework"}]}
{"_id":99,"name":"Jaclyn Morado","scores":[{"score":70.27627082122453,"type":"exam"},{"score":56.78470387064279,"type":"quiz"},{"score":47.48518298423097,"type":"homework"}]}
{"_id":100,"name":"Demarcus Audette","scores":[{"score":47.42608580155614,"type":"exam"},{"score":44.83416623719906,"type":"quiz"},{"score":39.01726616178844,"type":"homework"}]}
{"_id":101,"name":"Tania Hulett","scores":[{"score":21.84617015735916,"type":"exam"},{"score":53.8568257735492,"type":"quiz"},{"score":79.60533635579307,"type":"homework"}]}
{"_id":102,"name":"Mercedez Garduno","scores":[{"score":49.52877007656483,"type":"exam"},{"score":44.55505066212384,"type":"quiz"},{"score":81.50869746632009,"type":"homework"}]}
{"_id":103,"name":"Fleta Duplantis","scores":[{"score":84.37799696030743,"type":"exam"},{"score":15.95792143439528,"type":"quiz"},{"score":77.80745176713172,"type":"homework"}]}
{"_id":104,"name":"Brittny Warwick","scores":[{"score":69.54399888097534,"type":"exam"},{"score":82.00469934215849,"type":"quiz"},{"score":95.96446106607902,"type":"homework"}]}
{"_id":105,"name":"Shin Allbright","scores":[{"score":62.28388941877533,"type":"exam"},{"score":85.26863799439475,"type":"quiz"},{"score":88.9947941542333,"type":"homework"}]}
{"_id":106,"name":"Karry Petrarca","scores":[{"score":3.677125771067413,"type":"exam"},{"score":40.39799056667404,"type":"quiz"},{"score":14.38347127905983,"type":"homework"}]}
{"_id":107,"name":"Beckie Millington","scores":[{"score":69.52419218194589,"type":"exam"},{"score":24.85411404016219,"type":"quiz"},{"score":34.92039455520659,"type":"homework"}]}
{"_id":108,"name":"Mikaela Meidinger","scores":[{"score":63.75595052560389,"type":"exam"},{"score":59.52298111997963,"type":"quiz"},{"score":88.66481441499843,"type":"homework"}]}
{"_id":109,"name":"Flora Duell","scores":[{"score":40.68238966626067,"type":"exam"},{"score":46.77972040308903,"type":"quiz"},{"score":69.29400057020965,"type":"homework"}]}
{"_id":110,"name":"Nobuko Linzey","scores":[{"score":67.40792606687442,"type":"exam"},{"score":58.58331128403415,"type":"quiz"},{"score":47.44831568815929,"type":"homework"}]}
{"_id":111,"name":"Gennie Ratner","scores":[{"score":62.74309964110307,"type":"exam"},{"score":92.18013849235186,"type":"quiz"},{"score":53.11174468047395,"type":"homework"}]}
{"_id":112,"name":"Myrtle Wolfinger","scores":[{"score":73.93895528856032,"type":"exam"},{"score":35.99397009906073,"type":"quiz"},{"score":93.85826506506328,"type":"homework"}]}
{"_id":113,"name":"","scores":[{"score":77.57315913088024,"type":"exam"},{"score":13.28135073340091,"type":"quiz"},{"score":67.27527802263116,"type":"homework"}]}

In [ ]:
data.encoding

In [ ]:
data2=data.json()

In [ ]:
data1

In [ ]:
df=pd.read_csv(r'C:\Users\91986\Documents\mu_sigma\mu_sigma\Problem statement 1_dataset/adult.csv')

In [ ]:
df.isnull().sum()

In [ ]:
df

In [ ]:
df['education'].value_counts()

In [ ]:
df['education'].value_counts()

In [ ]:
df.info()

In [ ]:
df.describe()

In [66]:
len(df[df['age']==max(df['age'])])

6

In [67]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   firstName     6 non-null      object
 1   lastName      6 non-null      object
 2   gender        6 non-null      object
 3   age           6 non-null      int64
 4   address       6 non-null      object
 5   phoneNumbers  6 non-null      object
dtypes: int64(1), object(5)
memory usage: 416.0+ bytes

In [68]:
df

  firstName lastName gender  age        address phoneNumbers
0       Joe  Jackson   male   28  streetAddress         type
1       Joe  Jackson   male   28            101         home
2       Joe  Jackson   male   28           city       number
3       Joe  Jackson   male   28      San Diego   7349282382
4       Joe  Jackson   male   28          state           87
5       Joe  Jackson   male   28             dd           96

In [69]:
url='https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv'

In [70]:
data=requests.get(url)

In [71]:
import requests

In [72]:
df1=pd.read_csv(url)

In [73]:
type(df1)

pandas.core.frame.DataFrame

In [74]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [75]:
url='https://raw.githubusercontent.com/thephpleague/csv/master/composer.json'

In [76]:
data=requests.get(url)

In [77]:
data.json()

{'name': 'league/csv',
 'type': 'library',
 'description': 'CSV data manipulation made easy in PHP',
 'keywords': ['csv',
  'import',
  'export',
  'read',
  'write',
  'filter',
  'convert',
  'transform'],
 'license': 'MIT',
 'homepage': 'https://csv.thephpleague.com',
 'authors': [{'name': 'Ignace Nyamagana Butera',
   'email': 'nyamsprod@gmail.com',
   'homepage': 'https://github.com/nyamsprod/',
   'role': 'Developer'}],
 'support': {'docs': 'https://csv.thephpleague.com',
  'issues': 'https://github.com/thephpleague/csv/issues',
  'rss': 'https://github.com/thephpleague/csv/releases.atom',
  'source': 'https://github.com/thephpleague/csv'},
 'funding': [{'type': 'github',
   'url': 'https://github.com/sponsors/nyamsprod'}],
 'require': {'php': '^8.1.2', 'ext-json': '*', 'ext-mbstring': '*'},
 'require-dev': {'ext-dom': '*',
  'doctrine/collections': '^1.6.8',
  'friendsofphp/php-cs-fixer': '^v3.9',
  'phpbench/phpbench': '^1.2.6',
  'phpstan/phpstan': '^1.8',
  'phpstan/phpstan-deprecation-rules': '^1.0',
  'phpstan/phpstan-phpunit': '^1.1',
  'phpstan/phpstan-strict-rules': '^1.3',
  'phpunit/phpunit': '^9.5.20'},
 'autoload': {'psr-4': {'League\\Csv\\': 'src'},
  'files': ['src/functions_include.php']},
 'scripts': {'benchmark': 'phpbench run src --report=default',
  'phpcs': 'php-cs-fixer fix -vvv --diff --dry-run --allow-risky=yes --ansi',
  'phpcs:fix': 'php-cs-fixer fix -vvv --allow-risky=yes --ansi',
  'phpstan': 'phpstan analyse -c phpstan.neon --ansi --memory-limit=192M',
  'phpunit': 'XDEBUG_MODE=coverage phpunit --coverage-text',
  'test': ['@phpunit', '@phpstan', '@phpcs']},
 'scripts-descriptions': {'benchmark': 'Runs benchmarks on writing and reader CSV documents',
  'phpcs': 'Runs coding style test suite',
  'phpstan': 'Runs complete codebase static analysis',
  'phpunit': 'Runs unit and functional testing',
  'test': 'Runs full test suite'},
 'suggest': {'ext-iconv': 'Needed to ease transcoding CSV using iconv stream filters',
  'ext-dom': 'Required to use the XMLConverter and the HTMLConverter classes'},
 'extra': {'branch-alias': {'dev-master': '9.x-dev'}},
 'config': {'sort-packages': True}}

In [78]:
df1.head(4)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S

In [79]:
df1.tail(5)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.00,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.00,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.45,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.00,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.75,NaN,Q

In [80]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [81]:
df1.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
dtype: object

In [82]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [83]:
df1.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [84]:
for i in df1.columns:
    print(i)

PassengerId
Survived
Pclass
Name
Sex
Age
SibSp
Parch
Ticket
Fare
Cabin
Embarked

In [85]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [86]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [87]:
df1[['Age','Cabin','Embarked']]

      Age Cabin Embarked
0    22.0   NaN        S
1    38.0   C85        C
2    26.0   NaN        S
3    35.0  C123        S
4    35.0   NaN        S
..    ...   ...      ...
886  27.0   NaN        S
887  19.0   B42        S
888   NaN   NaN        S
889  26.0  C148        C
890  32.0   NaN        Q

[891 rows x 3 columns]

In [88]:
df1.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [89]:
df.describe()

        age
count   6.0
mean   28.0
std     0.0
min    28.0
25%    28.0
50%    28.0
75%    28.0
max    28.0

In [90]:
df1.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [91]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [92]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

In [93]:
df1.dtypes == 'object'

PassengerId    False
Survived       False
Pclass         False
Name            True
Sex             True
Age            False
SibSp          False
Parch          False
Ticket          True
Fare           False
Cabin           True
Embarked        True
dtype: bool

In [94]:

l=[4,5,6,4,5,6,'sudf','jffj']

In [95]:
l[l=='sudf']

4

In [96]:
col_name=df1.dtypes[df1.dtypes == 'object'].index

In [97]:
col_name

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'], dtype='object')

In [98]:
df1[col_name]

,Name,Sex,Ticket,Cabin,Embarked
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S
4,"Allen, Mr. William Henry",male,373450,NaN,S
...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S
887,"Graham, Miss. Margaret Edith",female,112053,B42,S
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S
889,"Behr, Mr. Karl Howell",male,111369,C148,C
890,"Dooley, Mr. Patrick",male,370376,NaN,Q

In [99]:
df1[col_name].describe()

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [100]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [101]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q

In [102]:
df1['New_column']='Ineuron'

In [103]:
df1['Name'][0:20:2]

0                               Braund, Mr. Owen Harris
2                                Heikkinen, Miss. Laina
4                              Allen, Mr. William Henry
6                               McCarthy, Mr. Timothy J
8     Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
10                      Sandstrom, Miss. Marguerite Rut
12                       Saundercock, Mr. William Henry
14                 Vestrom, Miss. Hulda Amanda Adolfina
16                                 Rice, Master. Eugene
18    Vander Planke, Mrs. Julius (Emelia Maria Vande...
Name: Name, dtype: object

In [104]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  New_column   891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [105]:
df1[df1['Age'].isnull() == True]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Ineuron
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,Ineuron
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,Ineuron
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,Ineuron
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,Ineuron
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,Ineuron
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,Ineuron
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,Ineuron
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron

In [106]:
df1[df1['Cabin'].isnull() == True]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Ineuron
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Ineuron
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Ineuron
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Ineuron
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Ineuron
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Ineuron
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Ineuron
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Ineuron

In [107]:
len(df1[df1['Age'].isnull() == True].index)

177

In [119]:
df1[df1['Age'].isnull() ==True].index

Int64Index([  5,  17,  19,  26,  28,  29,  31,  32,  36,  42,
            ...
            832, 837, 839, 846, 849, 859, 863, 868, 878, 888],
           dtype='int64', length=177)

In [120]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Ineuron
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Ineuron
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Ineuron
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Ineuron

In [121]:
ind=df1[df1['Age'].isnull() == True]

In [122]:
ind1=df1[df1['Age'].isnull() == True].index

In [123]:
ind1

Int64Index([  5,  17,  19,  26,  28,  29,  31,  32,  36,  42,
            ...
            832, 837, 839, 846, 849, 859, 863, 868, 878, 888],
           dtype='int64', length=177)

In [124]:
df1.loc[ind1]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Ineuron
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,Ineuron
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,Ineuron
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,Ineuron
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,Ineuron
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,Ineuron
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,Ineuron
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,Ineuron
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron

In [125]:
df1[df1['Fare'] == max(df1['Fare'])]['Name']

258                      Ward, Miss. Anna
679    Cardeza, Mr. Thomas Drake Martinez
737                Lesurer, Mr. Gustave J
Name: Name, dtype: object

In [126]:
df1['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [127]:
df1[df1['Sex'].str.startswith('f')]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Ineuron
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Ineuron
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,Ineuron
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,Ineuron
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Ineuron
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron

In [128]:
df1['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [129]:
df

  firstName lastName gender  age        address phoneNumbers
0       Joe  Jackson   male   28  streetAddress         type
1       Joe  Jackson   male   28            101         home
2       Joe  Jackson   male   28           city       number
3       Joe  Jackson   male   28      San Diego   7349282382
4       Joe  Jackson   male   28          state           87
5       Joe  Jackson   male   28             dd           96

In [130]:
df

  firstName lastName gender  age        address phoneNumbers
0       Joe  Jackson   male   28  streetAddress         type
1       Joe  Jackson   male   28            101         home
2       Joe  Jackson   male   28           city       number
3       Joe  Jackson   male   28      San Diego   7349282382
4       Joe  Jackson   male   28          state           87
5       Joe  Jackson   male   28             dd           96

In [131]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Ineuron
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Ineuron
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Ineuron
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Ineuron

In [132]:
df1[df1.dtypes[df1.dtypes=='object'].index]

,Name,Sex,Ticket,Cabin,Embarked,New_column
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S,Ineuron
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C,Ineuron
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S,Ineuron
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S,Ineuron
4,"Allen, Mr. William Henry",male,373450,NaN,S,Ineuron
...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S,Ineuron
887,"Graham, Miss. Margaret Edith",female,112053,B42,S,Ineuron
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S,Ineuron
889,"Behr, Mr. Karl Howell",male,111369,C148,C,Ineuron
890,"Dooley, Mr. Patrick",male,370376,NaN,Q,Ineuron

In [133]:
df

  firstName lastName gender  age        address phoneNumbers
0       Joe  Jackson   male   28  streetAddress         type
1       Joe  Jackson   male   28            101         home
2       Joe  Jackson   male   28           city       number
3       Joe  Jackson   male   28      San Diego   7349282382
4       Joe  Jackson   male   28          state           87
5       Joe  Jackson   male   28             dd           96

In [134]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Ineuron
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Ineuron
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Ineuron
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Ineuron

In [135]:
name=df1.dtypes[df1.dtypes=='object'].index

In [142]:
df1[df1.dtypes[df1.dtypes =='object'].index]

,Name,Sex,Ticket,Cabin,Embarked,New_column
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S,Ineuron
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C,Ineuron
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S,Ineuron
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S,Ineuron
4,"Allen, Mr. William Henry",male,373450,NaN,S,Ineuron
...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S,Ineuron
887,"Graham, Miss. Margaret Edith",female,112053,B42,S,Ineuron
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S,Ineuron
889,"Behr, Mr. Karl Howell",male,111369,C148,C,Ineuron
890,"Dooley, Mr. Patrick",male,370376,NaN,Q,Ineuron

In [143]:
name

Index(['Name', 'Sex', 'Ticket', 'Cabin', 'Embarked', 'New_column'], dtype='object')

In [144]:
df1[df1.dtypes[df1.dtypes=='object'].index]

,Name,Sex,Ticket,Cabin,Embarked,New_column
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S,Ineuron
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C,Ineuron
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S,Ineuron
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S,Ineuron
4,"Allen, Mr. William Henry",male,373450,NaN,S,Ineuron
...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S,Ineuron
887,"Graham, Miss. Margaret Edith",female,112053,B42,S,Ineuron
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S,Ineuron
889,"Behr, Mr. Karl Howell",male,111369,C148,C,Ineuron
890,"Dooley, Mr. Patrick",male,370376,NaN,Q,Ineuron

In [145]:
df1[name]

,Name,Sex,Ticket,Cabin,Embarked,New_column
0,"Braund, Mr. Owen Harris",male,A/5 21171,NaN,S,Ineuron
1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,PC 17599,C85,C,Ineuron
2,"Heikkinen, Miss. Laina",female,STON/O2. 3101282,NaN,S,Ineuron
3,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,113803,C123,S,Ineuron
4,"Allen, Mr. William Henry",male,373450,NaN,S,Ineuron
...,...,...,...,...,...,...
886,"Montvila, Rev. Juozas",male,211536,NaN,S,Ineuron
887,"Graham, Miss. Margaret Edith",female,112053,B42,S,Ineuron
888,"Johnston, Miss. Catherine Helen ""Carrie""",female,W./C. 6607,NaN,S,Ineuron
889,"Behr, Mr. Karl Howell",male,111369,C148,C,Ineuron
890,"Dooley, Mr. Patrick",male,370376,NaN,Q,Ineuron

In [146]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Ineuron
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Ineuron
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Ineuron
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Ineuron

In [147]:
df1.Age[df1.Age == '22']

Series([], Name: Age, dtype: float64)

In [148]:
df1['Age']

0      22.0
1      38.0
2      26.0
3      35.0
4      35.0
       ...
886    27.0
887    19.0
888     NaN
889    26.0
890    32.0
Name: Age, Length: 891, dtype: float64

In [149]:
df1.dtypes

PassengerId      int64
Survived         int64
Pclass           int64
Name            object
Sex             object
Age            float64
SibSp            int64
Parch            int64
Ticket          object
Fare           float64
Cabin           object
Embarked        object
New_column      object
dtype: object

In [150]:
df1.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked', 'New_column'],
      dtype='object')

In [151]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  New_column   891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [154]:
df1.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [162]:
ind=df1[df1['Age'].isnull() == True].index

In [163]:
df1.loc[ind]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Ineuron
17,18,1,2,"Williams, Mr. Charles Eugene",male,NaN,0,0,244373,13.0000,NaN,S,Ineuron
19,20,1,3,"Masselmani, Mrs. Fatima",female,NaN,0,0,2649,7.2250,NaN,C,Ineuron
26,27,0,3,"Emir, Mr. Farred Chehab",male,NaN,0,0,2631,7.2250,NaN,C,Ineuron
28,29,1,3,"O'Dwyer, Miss. Ellen ""Nellie""",female,NaN,0,0,330959,7.8792,NaN,Q,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
859,860,0,3,"Razi, Mr. Raihed",male,NaN,0,0,2629,7.2292,NaN,C,Ineuron
863,864,0,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,Ineuron
868,869,0,3,"van Melkebeke, Mr. Philemon",male,NaN,0,0,345777,9.5000,NaN,S,Ineuron
878,879,0,3,"Laleff, Mr. Kristo",male,NaN,0,0,349217,7.8958,NaN,S,Ineuron
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron

In [140]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  New_column   891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [147]:
col=df1[df1['Cabin'].isnull() == True].index

In [149]:
df1.loc[col]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Ineuron
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Ineuron
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Ineuron
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Ineuron
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Ineuron
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Ineuron
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Ineuron
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Ineuron

In [150]:
df1.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [151]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 13 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
 12  New_column   891 non-null    object
dtypes: float64(2), int64(5), object(6)
memory usage: 90.6+ KB

In [158]:
df1[df1['Sex'].str.startswith('m')== True]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Ineuron
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Ineuron
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Ineuron
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Ineuron
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Ineuron
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Ineuron
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Ineuron
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Ineuron

In [159]:
df1[df1['Sex'].str.startswith('f')== True]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Ineuron
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S,Ineuron
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
880,881,1,2,"Shelley, Mrs. William (Imanita Parrish Hall)",female,25.0,0,1,230433,26.0000,NaN,S,Ineuron
882,883,0,3,"Dahlberg, Miss. Gerda Ulrika",female,22.0,0,0,7552,10.5167,NaN,S,Ineuron
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.1250,NaN,Q,Ineuron
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron

In [162]:
df1['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [164]:
df1['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [173]:
df1['Pclass'].value_counts()[::-1]

2    184
1    216
3    491
Name: Pclass, dtype: int64

In [174]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Ineuron
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Ineuron
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Ineuron
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Ineuron

In [177]:
max(df1['Fare'])

512.3292

In [178]:
df

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,country,salary
0,39,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K

In [180]:
df1['Sex']

0        male
1      female
2      female
3      female
4        male
        ...
886      male
887    female
888    female
889      male
890      male
Name: Sex, Length: 891, dtype: object

In [182]:
df1['Sex'].value_counts()

male      577
female    314
Name: Sex, dtype: int64

In [187]:
len(df1[df1['Sex'] == 'male'])

577

In [190]:
len(df1[df1['Sex'] == 'female'])

314

In [196]:
df1.groupby('Sex')['Sex'].count()

Sex
female    314
male      577
Name: Sex, dtype: int64

In [199]:
df1[df1['Sex'] == 'male']

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Ineuron
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Ineuron
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q,Ineuron
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Ineuron
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.5000,NaN,S,Ineuron
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.0500,NaN,S,Ineuron
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Ineuron
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Ineuron

In [164]:
df1['Survived'].value_counts()

0    549
1    342
Name: Survived, dtype: int64

In [165]:
df1.groupby('Survived')['Survived'].count()

Survived
0    549
1    342
Name: Survived, dtype: int64

In [166]:
len(df1[df1['Survived'] == 0])

549

In [167]:
len(df1[df1['Age']>60])

22

In [168]:
len(df1[df1['Survived'] == 0])

549

In [169]:
df1[df1['Age'] == max(df1['Age'])]['Name']

630    Barkworth, Mr. Algernon Henry Wilson
Name: Name, dtype: object

In [170]:
df1['Pclass'].value_counts()

3    491
1    216
2    184
Name: Pclass, dtype: int64

In [171]:
df1.groupby('Pclass')['Pclass'].count()

Pclass
1    216
2    184
3    491
Name: Pclass, dtype: int64

In [172]:
len(df1[df1['Name'].str.startswith('S')][['Name','Age']])

86

In [173]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Ineuron
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Ineuron
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Ineuron
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Ineuron

In [174]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Ineuron
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Ineuron
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Ineuron
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Ineuron
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Ineuron

In [175]:
df1['summ']=df1['SibSp']+df1['Parch']

In [176]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column,summ
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Ineuron,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Ineuron,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Ineuron,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Ineuron,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Ineuron,0

In [177]:
len(df1[df1['Age'] < 25])

278

In [178]:
df1[(df1['Age']<40) & (df1['Survived']==0)]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column,summ
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.250,NaN,S,Ineuron,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.050,NaN,S,Ineuron,0
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.075,NaN,S,Ineuron,4
12,13,0,3,"Saundercock, Mr. William Henry",male,20.0,0,0,A/5. 2151,8.050,NaN,S,Ineuron,0
13,14,0,3,"Andersson, Mr. Anders Johan",male,39.0,1,5,347082,31.275,NaN,S,Ineuron,6
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
883,884,0,2,"Banfield, Mr. Frederick James",male,28.0,0,0,C.A./SOTON 34068,10.500,NaN,S,Ineuron,0
884,885,0,3,"Sutehall, Mr. Henry Jr",male,25.0,0,0,SOTON/OQ 392076,7.050,NaN,S,Ineuron,0
885,886,0,3,"Rice, Mrs. William (Margaret Norton)",female,39.0,0,5,382652,29.125,NaN,Q,Ineuron,5
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.000,NaN,S,Ineuron,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.750,NaN,Q,Ineuron,0

In [180]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column,summ
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Ineuron,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Ineuron,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Ineuron,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Ineuron,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Ineuron,0

In [182]:
df.dropna()

  firstName lastName gender  age        address phoneNumbers
0       Joe  Jackson   male   28  streetAddress         type
1       Joe  Jackson   male   28            101         home
2       Joe  Jackson   male   28           city       number
3       Joe  Jackson   male   28      San Diego   7349282382
4       Joe  Jackson   male   28          state           87
5       Joe  Jackson   male   28             dd           96

In [183]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column,summ
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Ineuron,1
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron,1
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Ineuron,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron,1
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Ineuron,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",male,27.0,0,0,211536,13.0000,NaN,S,Ineuron,0
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",female,NaN,1,2,W./C. 6607,23.4500,NaN,S,Ineuron,3
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron,0
890,891,0,3,"Dooley, Mr. Patrick",male,32.0,0,0,370376,7.7500,NaN,Q,Ineuron,0

In [184]:
df1.dropna()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column,summ
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Ineuron,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Ineuron,2
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Ineuron,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,Ineuron,2
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,Ineuron,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Ineuron,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron,0

In [185]:
df1.dropna(inplace=True)

In [186]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column,summ
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Ineuron,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Ineuron,2
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Ineuron,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,Ineuron,2
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,Ineuron,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Ineuron,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron,0

In [187]:
data=requests.get('https://filesamples.com/samples/code/json/sample2.json')

In [188]:
data

In [189]:
data1=data.json()

In [190]:
pd.read_json('https://filesamples.com/samples/code/json/sample2.json')

HTTPError: HTTP Error 403: Forbidden

In [191]:
data=requests.get('https://filesamples.com/samples/code/json/sample2.json')

In [192]:
data1=data.json()

In [193]:
data1

{'firstName': 'Joe',
 'lastName': 'Jackson',
 'gender': 'male',
 'age': 28,
 'address': {'streetAddress': '101', 'city': 'San Diego', 'state': 'CA'},
 'phoneNumbers': [{'type': 'home', 'number': '7349282382'}]}

In [194]:
data1['phoneNumbers'][0]['number']

'7349282382'

In [195]:
k="""{
    "khan":88892410769,
    "key1":256,
    "key2":4563
    
    
    
}"""

In [196]:
type(k)

str

In [197]:
import json

In [198]:
json.loads(k)

{'khan': 88892410769, 'key1': 256, 'key2': 4563}

In [199]:
p="""{ "firstName": "Joe",
   "lastName": "Jackson",
   "gender": "male",
   "age": "28",
   "address": [
       "streetAddress", "101",
       "city", "San Diego",
       "state","ddf"
       ],
   "phoneNumbers": [
     "type", "home", "number","7349282382" ,"87","98"
   ]
}"""

In [200]:
json.loads(p)

{'firstName': 'Joe',
 'lastName': 'Jackson',
 'gender': 'male',
 'age': '28',
 'address': ['streetAddress', '101', 'city', 'San Diego', 'state', 'ddf'],
 'phoneNumbers': ['type', 'home', 'number', '7349282382', '87', '98']}

In [201]:
k

'{\n    "khan":88892410769,\n    "key1":256,\n    "key2":4563\n    \n    \n    \n}'

In [202]:
p

'{ "firstName": "Joe",\n   "lastName": "Jackson",\n   "gender": "male",\n   "age": "28",\n   "address": [\n       "streetAddress", "101",\n       "city", "San Diego",\n       "state","ddf"\n       ],\n   "phoneNumbers": [\n     "type", "home", "number","7349282382" ,"87","98"\n   ]\n}'

In [203]:
type(k)

str

In [204]:
type(p)

str

In [205]:
k

'{\n    "khan":88892410769,\n    "key1":256,\n    "key2":4563\n    \n    \n    \n}'

In [206]:
p

'{ "firstName": "Joe",\n   "lastName": "Jackson",\n   "gender": "male",\n   "age": "28",\n   "address": [\n       "streetAddress", "101",\n       "city", "San Diego",\n       "state","ddf"\n       ],\n   "phoneNumbers": [\n     "type", "home", "number","7349282382" ,"87","98"\n   ]\n}'

In [207]:
json.loads(k)

{'khan': 88892410769, 'key1': 256, 'key2': 4563}

In [208]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column,summ
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Ineuron,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Ineuron,2
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Ineuron,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,Ineuron,2
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,Ineuron,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Ineuron,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron,0

In [216]:
ind=df1[df1['Age']==4].index

In [224]:
df1.loc[ind]

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column,summ
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Ineuron,2
445,446,1,1,"Dodge, Master. Washington",male,4.0,0,2,33638,81.8583,A34,S,Ineuron,2
618,619,1,2,"Becker, Miss. Marion Louise",female,4.0,2,1,230136,39.0000,F4,S,Ineuron,3

In [225]:
df1.loc[0]

KeyError: 0

In [226]:
ind

Int64Index([10, 445, 618], dtype='int64')

In [227]:
df1

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,New_column,summ
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Ineuron,1
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Ineuron,1
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S,Ineuron,0
10,11,1,3,"Sandstrom, Miss. Marguerite Rut",female,4.0,1,1,PP 9549,16.7000,G6,S,Ineuron,2
11,12,1,1,"Bonnell, Miss. Elizabeth",female,58.0,0,0,113783,26.5500,C103,S,Ineuron,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
871,872,1,1,"Beckwith, Mrs. Richard Leonard (Sallie Monypeny)",female,47.0,1,1,11751,52.5542,D35,S,Ineuron,2
872,873,0,1,"Carlsson, Mr. Frans Olof",male,33.0,0,0,695,5.0000,B51 B53 B55,S,Ineuron,0
879,880,1,1,"Potter, Mrs. Thomas Jr (Lily Alexenia Wilson)",female,56.0,0,1,11767,83.1583,C50,C,Ineuron,1
887,888,1,1,"Graham, Miss. Margaret Edith",female,19.0,0,0,112053,30.0000,B42,S,Ineuron,0
889,890,1,1,"Behr, Mr. Karl Howell",male,26.0,0,0,111369,30.0000,C148,C,Ineuron,0

In [1]:
!pip install cufflinks
!pip install plotly
import plotly as py
import plotly.express as px
from plotly.offline import iplot
import plotly.tools as tl
import cufflinks as cf

Requirement already satisfied: cufflinks in c:\users\91986\anaconda3\lib\site-packages (0.17.3)
Requirement already satisfied: pandas>=0.19.2 in c:\users\91986\anaconda3\lib\site-packages (from cufflinks) (1.4.2)
Requirement already satisfied: ipython>=5.3.0 in c:\users\91986\anaconda3\lib\site-packages (from cufflinks) (8.2.0)
Requirement already satisfied: six>=1.9.0 in c:\users\91986\anaconda3\lib\site-packages (from cufflinks) (1.15.0)
Requirement already satisfied: colorlover>=0.2.1 in c:\users\91986\anaconda3\lib\site-packages (from cufflinks) (0.3.0)
Requirement already satisfied: plotly>=4.1.1 in c:\users\91986\anaconda3\lib\site-packages (from cufflinks) (5.6.0)
Requirement already satisfied: numpy>=1.9.2 in c:\users\91986\anaconda3\lib\site-packages (from cufflinks) (1.21.5)
Requirement already satisfied: ipywidgets>=7.0.0 in c:\users\91986\anaconda3\lib\site-packages (from cufflinks) (7.6.5)
Requirement already satisfied: setuptools>=34.4.1 in c:\users\91986\anaconda3\lib\site-packages (from cufflinks) (61.2.0)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\91986\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (3.0.20)
Requirement already satisfied: stack-data in c:\users\91986\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.2.0)
Requirement already satisfied: decorator in c:\users\91986\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\91986\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.18.1)
Requirement already satisfied: backcall in c:\users\91986\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.2.0)
Requirement already satisfied: pygments>=2.4.0 in c:\users\91986\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (2.11.2)
Requirement already satisfied: traitlets>=5 in c:\users\91986\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (5.1.1)
Requirement already satisfied: matplotlib-inline in c:\users\91986\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.1.2)
Requirement already satisfied: colorama in c:\users\91986\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.4.4)
Requirement already satisfied: pickleshare in c:\users\91986\anaconda3\lib\site-packages (from ipython>=5.3.0->cufflinks) (0.7.5)
Requirement already satisfied: widgetsnbextension~=3.5.0 in c:\users\91986\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (3.5.2)
Requirement already satisfied: ipython-genutils~=0.2.0 in c:\users\91986\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (0.2.0)
Requirement already satisfied: ipykernel>=4.5.1 in c:\users\91986\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (6.9.1)

WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)

Requirement already satisfied: nbformat>=4.2.0 in c:\users\91986\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (5.3.0)
Requirement already satisfied: jupyterlab-widgets>=1.0.0 in c:\users\91986\anaconda3\lib\site-packages (from ipywidgets>=7.0.0->cufflinks) (1.0.0)
Requirement already satisfied: nest-asyncio in c:\users\91986\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (1.5.5)
Requirement already satisfied: jupyter-client<8.0 in c:\users\91986\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (6.1.12)
Requirement already satisfied: debugpy<2.0,>=1.0.0 in c:\users\91986\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (1.5.1)
Requirement already satisfied: tornado<7.0,>=4.2 in c:\users\91986\anaconda3\lib\site-packages (from ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (6.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\91986\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=5.3.0->cufflinks) (0.8.3)
Requirement already satisfied: python-dateutil>=2.1 in c:\users\91986\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (2.8.2)
Requirement already satisfied: jupyter-core>=4.6.0 in c:\users\91986\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (4.9.2)
Requirement already satisfied: pyzmq>=13 in c:\users\91986\anaconda3\lib\site-packages (from jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (22.3.0)
Requirement already satisfied: pywin32>=1.0 in c:\users\91986\anaconda3\lib\site-packages (from jupyter-core>=4.6.0->jupyter-client<8.0->ipykernel>=4.5.1->ipywidgets>=7.0.0->cufflinks) (302)
Requirement already satisfied: fastjsonschema in c:\users\91986\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (2.15.1)
Requirement already satisfied: jsonschema>=2.6 in c:\users\91986\anaconda3\lib\site-packages (from nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (4.4.0)
Requirement already satisfied: attrs>=17.4.0 in c:\users\91986\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (21.4.0)
Requirement already satisfied: pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 in c:\users\91986\anaconda3\lib\site-packages (from jsonschema>=2.6->nbformat>=4.2.0->ipywidgets>=7.0.0->cufflinks) (0.18.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\91986\anaconda3\lib\site-packages (from pandas>=0.19.2->cufflinks) (2021.3)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\91986\anaconda3\lib\site-packages (from plotly>=4.1.1->cufflinks) (8.0.1)
Requirement already satisfied: wcwidth in c:\users\91986\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=5.3.0->cufflinks) (0.2.5)
Requirement already satisfied: notebook>=4.4.1 in c:\users\91986\anaconda3\lib\site-packages (from widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (6.4.8)
Requirement already satisfied: terminado>=0.8.3 in c:\users\91986\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.13.1)
Requirement already satisfied: nbconvert in c:\users\91986\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (6.4.4)
Requirement already satisfied: Send2Trash>=1.8.0 in c:\users\91986\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.8.0)
Requirement already satisfied: argon2-cffi in c:\users\91986\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (21.3.0)
Requirement already satisfied: prometheus-client in c:\users\91986\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.13.1)
Requirement already satisfied: jinja2 in c:\users\91986\anaconda3\lib\site-packages (from notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (2.11.2)
Requirement already satisfied: pywinpty>=1.1.0 in c:\users\91986\anaconda3\lib\site-packages (from terminado>=0.8.3->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (2.0.2)
Requirement already satisfied: argon2-cffi-bindings in c:\users\91986\anaconda3\lib\site-packages (from argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (21.2.0)
Requirement already satisfied: cffi>=1.0.1 in c:\users\91986\anaconda3\lib\site-packages (from argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.15.0)
Requirement already satisfied: pycparser in c:\users\91986\anaconda3\lib\site-packages (from cffi>=1.0.1->argon2-cffi-bindings->argon2-cffi->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (2.21)
Requirement already satisfied: MarkupSafe>=0.23 in c:\users\91986\anaconda3\lib\site-packages (from jinja2->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.1.1)
Requirement already satisfied: beautifulsoup4 in c:\users\91986\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (4.9.1)
Requirement already satisfied: pandocfilters>=1.4.1 in c:\users\91986\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (1.5.0)
Requirement already satisfied: testpath in c:\users\91986\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.0)
Requirement already satisfied: bleach in c:\users\91986\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (4.1.0)
Requirement already satisfied: jupyterlab-pygments in c:\users\91986\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.1.2)
Requirement already satisfied: entrypoints>=0.2.2 in c:\users\91986\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.4)
Requirement already satisfied: defusedxml in c:\users\91986\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.7.1)
Requirement already satisfied: nbclient<0.6.0,>=0.5.0 in c:\users\91986\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.13)
Requirement already satisfied: mistune<2,>=0.8.1 in c:\users\91986\anaconda3\lib\site-packages (from nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.8.4)
Requirement already satisfied: soupsieve>1.2 in c:\users\91986\anaconda3\lib\site-packages (from beautifulsoup4->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (2.0.1)
Requirement already satisfied: webencodings in c:\users\91986\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (0.5.1)
Requirement already satisfied: packaging in c:\users\91986\anaconda3\lib\site-packages (from bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (21.3)
Requirement already satisfied: pyparsing!=3.0.5,>=2.0.2 in c:\users\91986\anaconda3\lib\site-packages (from packaging->bleach->nbconvert->notebook>=4.4.1->widgetsnbextension~=3.5.0->ipywidgets>=7.0.0->cufflinks) (3.0.4)
Requirement already satisfied: executing in c:\users\91986\anaconda3\lib\site-packages (from stack-data->ipython>=5.3.0->cufflinks) (0.8.3)
Requirement already satisfied: asttokens in c:\users\91986\anaconda3\lib\site-packages (from stack-data->ipython>=5.3.0->cufflinks) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\91986\anaconda3\lib\site-packages (from stack-data->ipython>=5.3.0->cufflinks) (0.2.2)

WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -ymongo (c:\users\91986\anaconda3\lib\site-packages)

Requirement already satisfied: plotly in c:\users\91986\anaconda3\lib\site-packages (5.6.0)
Requirement already satisfied: six in c:\users\91986\anaconda3\lib\site-packages (from plotly) (1.15.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\91986\anaconda3\lib\site-packages (from plotly) (8.0.1)

In [6]:
py.offline.init_notebook_mode(connected=True)
cf.go_offline()

In [9]:
px.box(x)

In [10]:
x=[1,23,40,50,60,70,1000]
y=[20,40,60,80,70,80,90]

In [11]:
px.line(x,y)

In [16]:
px.histogram(x)

In [96]:
df = pd.DataFrame({'player': ['A', '54', '70', '540', '80'],
                   'points': ['25', '27', '14', '17', '20'],
                   'assists': ['5', '7', '10', '8', '9']})

In [97]:
df

  player points assists
0      A     25       5
1     54     27       7
2     70     14      10
3    540     17       8
4     80     20       9

In [98]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   player   5 non-null      object
 1   points   5 non-null      object
 2   assists  5 non-null      object
dtypes: object(3)
memory usage: 248.0+ bytes

In [99]:
df.describe()

       player points assists
count       5      5       5
unique      5      5       5
top         A     25       5
freq        1      1       1

In [100]:
df.dtypes

player     object
points     object
assists    object
dtype: object

In [101]:
df['assists']=df['assists'].astype(int).astype(int)

In [102]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   player   5 non-null      object
 1   points   5 non-null      object
 2   assists  5 non-null      int32
dtypes: int32(1), object(2)
memory usage: 228.0+ bytes

In [103]:
df.describe()

         assists
count   5.000000
mean    7.800000
std     1.923538
min     5.000000
25%     7.000000
50%     8.000000
75%     9.000000
max    10.000000

In [168]:
df

  player points  assists
0      A     25        5
1     54     27        7
2     70     14       10
3    540     17        8
4     80     20        9

In [169]:
df.dtypes

player     object
points     object
assists     int32
dtype: object

In [174]:
df['player']=df['player'].astype(int).astype(int)

ValueError: invalid literal for int() with base 10: 'A'

In [173]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   player   5 non-null      object
 1   points   5 non-null      int32
 2   assists  5 non-null      int32
dtypes: int32(2), object(1)
memory usage: 208.0+ bytes

In [180]:
val=df.dtypes[df.dtypes == 'int'].index

In [181]:
df[val]

   points  assists
0      25        5
1      27        7
2      14       10
3      17        8
4      20        9

In [185]:
df.loc[df['points']>14]

  player  points  assists
0      A      25        5
1     54      27        7
3    540      17        8
4     80      20        9

In [187]:
df[df['points']>14]

  player  points  assists
0      A      25        5
1     54      27        7
3    540      17        8
4     80      20        9

In [2]:
import seaborn as sn

In [4]:
df=sn.load_dataset('iris')

In [5]:
df.describe(include='all')

        sepal_length  sepal_width  petal_length  petal_width species
count     150.000000   150.000000    150.000000   150.000000     150
unique           NaN          NaN           NaN          NaN       3
top              NaN          NaN           NaN          NaN  setosa
freq             NaN          NaN           NaN          NaN      50
mean        5.843333     3.057333      3.758000     1.199333     NaN
std         0.828066     0.435866      1.765298     0.762238     NaN
min         4.300000     2.000000      1.000000     0.100000     NaN
25%         5.100000     2.800000      1.600000     0.300000     NaN
50%         5.800000     3.000000      4.350000     1.300000     NaN
75%         6.400000     3.300000      5.100000     1.800000     NaN
max         7.900000     4.400000      6.900000     2.500000     NaN